.focus {
  animation: blurEffect 2s cubic-bezier(0, -0.1, 0, 1.2);
}



.favicon {
  fill: rgb(231, 158, 24);
}




form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  gap: var(--spacing-small);
  accent-color: var(--background-brand);
}







img {
  max-height: 70dvh;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0.8;
  object-fit: cover;
  overflow: hidden;
  filter:brightness(0.95);
  

  
}



model-viewer {
  min-height: 120px;
  max-height: 100%;
  width: 100%;
}



.icon-font {
  font-family: var(--icon-font-family);
}







.card-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-large);
  container-name: card-group;
}

main {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-area: main-content;
  container-name: main-content;
  container-type: inline-size;


  align-items: center;
  padding: var(--spacing-x-large);
  padding-top: 0px;
  gap: var(--spacing-xxx-large);
  transform-style: preserve-3d;
  transform-origin: 0% 0%;
  
}








iframe{
  height: clamp(300px, 30dvh, 400px);
  width: 100%;
 
  border: none;
}





:root {
  --input: 1;
  /* This should change to get different random values */
}





.full-row {
  display: flex;
  flex-direction: column;
  width: inherit;
  grid-column: 1 / -1;
  align-items: center;

}

::part(header) {
  font-size: 100px;
}












@container style(--current-color-scheme: dark) {
  body {
    --text-heading-grade: 100;
    --text-body-weight: 450;
    --brand-chroma-base: 2;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --text-heading-grade: 100;
    --text-body-weight: 450;
    --brand-chroma-base: 2;
  }
}

@media screen and (max-height: 700px) {
  .page-title {
    position: initial;
  }
}



@media screen and (max-width: 600px) {
  main {
    scroll-snap-type: y mandatory;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    scroll-padding: 0;

    * {
      scroll-snap-align: center;
    }
  }
}

body {
  container-name: page;
  container-type: inline-size;
}

