@font-face {
  font-family: 'Roboto Flex';
  src: url(/resources/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
  font-display: block;

}


@font-face {
  font-family: 'Material Symbols Sharp';
  src: url(/resources/Fonts/MaterialSymbolsSharp-VariableFont_FILL,GRAD,opsz,wght.ttf);
  font-display: block;
}




:root {
  --theme-slider-size: 20px;
  --theme-slider-outline:var(--background-primary);

  --viewport-lg:800px;
  /*   Typography Scale  */
  --font-size-1: clamp(0.56rem, -0.1vmin + 0.59rem, 0.5rem);
  --font-size-2: clamp(0.75rem, -0.07vmin + 0.77rem, 0.71rem);
  --font-size-3: clamp(1rem, 0vmin + 1rem, 1rem);
  --font-size-4: clamp(1.33rem, 0.13vmin + 1.3rem, 1.41rem);
  --font-size-5: clamp(1.8rem, 0.4vmin + 1.69rem, 1.9rem);
  --font-size-6: clamp(2.37rem, 0.72vmin + 2.2rem, 2.83rem);
  --font-size-7: clamp(3.16rem, 1.32vmin + 2.84rem, 4rem);
  --font-size-8: clamp(4.21rem, 2.26vmin + 3.67rem, 5.65rem);
  --font-size-9: clamp(5rem, 2.8vmin + 4rem, 6.8rem);
  --font-size-10: clamp(7.48rem, 5vmin + 5rem, 9rem);

   /*  Icons  */
   --icon-font-family: "Material Symbols Sharp";

   --icon-size-xl: var(--font-size-6);
   --icon-size-large: var(--font-size-5);
   --icon-size-medium: var(--font-size-4);
   --icon-size-small: var(--font-size-3);
 
   --icon-weight-large: 500;
   --icon-weight-medium: 400;
   --icon-weight-small: 300;
   --icon-fill: 1;
   --icon-grade: 0;
   --icon-grade-emphasis: 100;
 
   
 
   /*  Typography - Heading  */
   --text-heading-weight: 550;
 
   --text-heading-font-family: 'Roboto Flex';
   --text-heading-grade: 100;
   --text-heading-width: 120;
 
 
   --text-heading-xl-line-height: 110%;
   --text-heading-xl-size: var(--font-size-8);
 
   --text-heading-lg-line-height: 110%;
   --text-heading-lg-size: var(--font-size-7);
 
   --text-heading-md-line-height: var(--font-size-7);
   --text-heading-md-size: var(--font-size-6);
 
   --text-heading-sm-line-height: var(--font-size-6);
   --text-heading-sm-size: var(--font-size-5);
 
 
   /*  Typography - Body Text  */
   --text-body-font-family: 'Roboto Flex';
   --text-body-weight: 400;
 
   --text-body-lg-line-height: var(--font-size-5);
   --text-body-lg-size: var(--font-size-4);
 
   --text-body-md-line-height: var(--font-size-4);
   --text-body-md-size: var(--font-size-3);
 
   --text-body-sm-line-height: var(--font-size-3);
   --text-body-sm-size: var(--font-size-2);
 
   --text-body-xs-line-height: var(--font-size-2);
   --text-body-xs-size: var(--font-size-1);
 

  --radius-none: 0px;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;

  /*   Spacing   */
  --spacing-none: 0px;
  --spacing-x-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 16px;
  --spacing-x-large: 24px;
  --spacing-xx-large: 32px;
  --spacing-xxx-large: 40px;

  --black: oklch(0% 0% 0deg);
  --white: oklch(100% 0% 0deg);

  --timing-decelerate: cubic-bezier(0, 0.86, 0.13, 0.99);
  --timing-ease: cubic-bezier(.2, 0, 0.1, 1);

  --dialog-width: clamp(300px, 80dvw, 1200px);

  
  /*   Color Lightness   */
  --lightness-5: 99%;
  --lightness-10: 97%;
  --lightness-20: 92%;
  --lightness-30: 75%;
  --lightness-40: 55%;
  --lightness-50: 50%;
  --lightness-60: 45%;
  --lightness-70: 25%;
  --lightness-80: 18%;
  --lightness-90: 13%;
  --lightness-95: 10%;

  /*   Base Brand Color  */
  --brand-hue: 180;

--brand-chroma-base: 1; 


--brand-chroma-5: calc(4% * var(--brand-chroma-base));
--brand-chroma-10: calc(8% * var(--brand-chroma-base));
--brand-chroma-20: calc(16% * var(--brand-chroma-base));
--brand-chroma-30: calc(24% * var(--brand-chroma-base));
--brand-chroma-40: calc(32% * var(--brand-chroma-base));
--brand-chroma-50: calc(48% * var(--brand-chroma-base));
--brand-chroma-60: calc(32% * var(--brand-chroma-base));
--brand-chroma-70: calc(24% * var(--brand-chroma-base));
--brand-chroma-80: calc(16% * var(--brand-chroma-base));
--brand-chroma-90: calc(8% * var(--brand-chroma-base));
--brand-chroma-95: calc(4% * var(--brand-chroma-base));

  --brand-5: oklch(var(--lightness-5) var(--brand-chroma-5) var(--brand-hue));
  --brand-10: oklch(var(--lightness-10) var(--brand-chroma-10) var(--brand-hue));
  --brand-20: oklch(var(--lightness-20) var(--brand-chroma-20) var(--brand-hue));
  --brand-30: oklch(var(--lightness-30) var(--brand-chroma-30) var(--brand-hue));
  --brand-40: oklch(var(--lightness-40) var(--brand-chroma-40) var(--brand-hue));
  --brand-50: oklch(var(--lightness-50) var(--brand-chroma-50) var(--brand-hue));
  --brand-60: oklch(var(--lightness-60) var(--brand-chroma-60) var(--brand-hue));
  --brand-70: oklch(var(--lightness-70) var(--brand-chroma-70) var(--brand-hue));
  --brand-80: oklch(var(--lightness-80) var(--brand-chroma-80) var(--brand-hue));
  --brand-90: oklch(var(--lightness-90) var(--brand-chroma-90) var(--brand-hue));
  --brand-95: oklch(var(--lightness-95) var(--brand-chroma-95) var(--brand-hue));

  --alpha: 0.4;

  --brand-5-alpha: oklch(var(--lightness-5) var(--brand-chroma-5) var(--brand-hue) / var(--alpha));
  --brand-10-alpha: oklch(var(--lightness-10) var(--brand-chroma-10) var(--brand-hue) / var(--alpha));
  --brand-20-alpha: oklch(var(--lightness-20) var(--brand-chroma-20) var(--brand-hue) / var(--alpha));
  --brand-30-alpha: oklch(var(--lightness-30) var(--brand-chroma-30) var(--brand-hue) / var(--alpha));
  --brand-40-alpha: oklch(var(--lightness-40) var(--brand-chroma-40) var(--brand-hue) / var(--alpha));
  --brand-50-alpha: oklch(var(--lightness-50) var(--brand-chroma-50) var(--brand-hue) / var(--alpha));
  --brand-60-alpha: oklch(var(--lightness-60) var(--brand-chroma-60) var(--brand-hue) / var(--alpha));
  --brand-70-alpha: oklch(var(--lightness-70) var(--brand-chroma-70) var(--brand-hue) / var(--alpha));
  --brand-80-alpha: oklch(var(--lightness-80) var(--brand-chroma-80) var(--brand-hue) / var(--alpha));
  --brand-90-alpha: oklch(var(--lightness-90) var(--brand-chroma-90) var(--brand-hue) / var(--alpha));
  --brand-95-alpha: oklch(var(--lightness-95) var(--brand-chroma-95) var(--brand-hue) / var(--alpha));

  /*   Base Neutral Color  */
  --gray-hue: calc(var(--brand-hue) + 60);
  --gray-chroma: 3%;
  --gray-5: oklch(var(--lightness-5) var(--gray-chroma) var(--gray-hue));
  --gray-10: oklch(var(--lightness-10) var(--gray-chroma) var(--gray-hue));
  --gray-20: oklch(var(--lightness-20) var(--gray-chroma) var(--gray-hue));
  --gray-30: oklch(var(--lightness-30) var(--gray-chroma) var(--gray-hue));
  --gray-40: oklch(var(--lightness-40) var(--gray-chroma) var(--gray-hue));
  --gray-50: oklch(var(--lightness-50) var(--gray-chroma) var(--gray-hue));
  --gray-60: oklch(var(--lightness-60) var(--gray-chroma) var(--gray-hue));
  --gray-70: oklch(var(--lightness-70) var(--gray-chroma) var(--gray-hue));
  --gray-80: oklch(var(--lightness-80) var(--gray-chroma) var(--gray-hue));
  --gray-90: oklch(var(--lightness-90) var(--gray-chroma) var(--gray-hue));
  --gray-95: oklch(var(--lightness-95) var(--gray-chroma) var(--gray-hue));

  --gray-5-alpha: oklch(var(--lightness-5) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-10-alpha: oklch(var(--lightness-10) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-20-alpha: oklch(var(--lightness-20) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-30-alpha: oklch(var(--lightness-30) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-40-alpha: oklch(var(--lightness-40) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-50-alpha: oklch(var(--lightness-50) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-60-alpha: oklch(var(--lightness-60) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-70-alpha: oklch(var(--lightness-70) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-80-alpha: oklch(var(--lightness-80) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-90-alpha: oklch(var(--lightness-90) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-95-alpha: oklch(var(--lightness-95) var(--gray-chroma) var(--gray-hue) / var(--alpha));

  /*   Base Accent Color  */
  --accent-hue: calc(var(--brand-hue) - 90);
  --accent-chroma: 20%;

  --accent-5: oklch(from var(--brand-5) l c var(--accent-hue));
  --accent-10: oklch(from var(--brand-10) l c var(--accent-hue));
  --accent-20: oklch(from var(--brand-20) l c var(--accent-hue));
  --accent-30: oklch(from var(--brand-30) l c var(--accent-hue));
  --accent-40: oklch(from var(--brand-40) l c var(--accent-hue));
  --accent-50: oklch(from var(--brand-50) l c var(--accent-hue));
  --accent-60: oklch(from var(--brand-60) l c var(--accent-hue));
  --accent-70: oklch(from var(--brand-70) l c var(--accent-hue));
  --accent-80: oklch(from var(--brand-80) l c var(--accent-hue));
  --accent-90: oklch(from var(--brand-90) l c var(--accent-hue));
  --accent-95: oklch(from var(--brand-95) l c var(--accent-hue));

  --hover: brightness(0.95);

  /*  Color System  */
  --current-color-scheme: light dark;
  color-scheme: var(--current-color-scheme);
  --background-page: light-dark(var(--gray-10), var(--gray-90));
  --background-primary: light-dark(var(--gray-5), var(--gray-80));
  --background-secondary: light-dark(var(--gray-10), var(--gray-70));
  --background-brand: light-dark(var(--brand-20), var(--brand-70));
  --background-brand-hover: light-dark(var(--brand-30), var(--brand-80));
  --background-brand-secondary: light-dark(var(--brand-10), var(--brand-80));
  --background-brand-emphasis: light-dark(var(--brand-50), var(--brand-60));
  --background-accent: light-dark(var(--accent-20), var(--accent-70));
  --background-accent-secondary: light-dark(var(--accent-10), var(--accent-80));
  --background-accent-emphasis: light-dark(var(--accent-50), var(--accent-50));

  --background-backdrop: light-dark(var(--gray-40-alpha), var(--gray-60-alpha));

  --foreground-primary: light-dark(var(--gray-90), var(--gray-5));
  --foreground-secondary: light-dark(var(--gray-50), var(--gray-30));
  --foreground-tertiary: light-dark(var(--gray-50), var(--gray-40));
  --foreground-brand: light-dark(var(--brand-50), var(--brand-30));
  --foreground-brand-secondary: light-dark(var(--brand-30), var(--brand-60));
  --foreground-accent: light-dark(var(--accent-90), var(--accent-20));
  --foreground-onEmphasis: light-dark(var(--white), var(--white));

  --border-primary: light-dark(var(--gray-20), var(--gray-70));
  --border-primary-hover: light-dark(var(--gray-20), var(--gray-60));
  --border-secondary: light-dark(var(--gray-20), var(--gray-70));
  --border-brand: light-dark(var(--brand-10), var(--brand-60));
  --border-brand-hover: light-dark(var(--brand-20), var(--gray-60));
  --border-brand-secondary: light-dark(var(--brand-20), var(--brand-60));
  --border-brand-emphasis: light-dark(var(--brand-60), var(--brand-70));
  --border-accent: light-dark(var(--accent-20), var(--accent-60));

 




}

[data-mode="high-contrast"] {
  --background-page: light-dark(var(--gray-5), var(--gray-95));
    --background-primary: light-dark(var(--white), var(--gray-90));
    --background-secondary: light-dark(var(--white), var(--gray-80));
    --background-brand: light-dark(var(--brand-10), var(--brand-70));
    --background-brand-secondary: light-dark(var(--brand-10), var(--brand-80));
    --background-brand-emphasis: light-dark(var(--brand-70), var(--brand-60));
    --background-accent: light-dark(var(--accent-50), var(--accent-70));

    --foreground-primary: light-dark(var(--gray-95), var(--gray-5));
    --foreground-secondary: light-dark(var(--gray-80), var(--gray-10));
    --foreground-brand: light-dark(var(--brand-60), var(--brand-30));
    --foreground-brand-secondary: light-dark(var(--brand-60), var(--brand-20));
    --foreground-accent: light-dark(var(--accent-5), var(--accent-5));
    --foreground-onEmphasis: light-dark(var(--white), var(--white));

    --border-primary: light-dark(var(--gray-40), var(--gray-40));
    --border-primary-hover: light-dark(var(--gray-30), var(--gray-60));
    --border-secondary: light-dark(var(--gray-30), var(--gray-50));
    --border-brand: light-dark(var(--brand-50), var(--brand-40));
    --border-brand-secondary: light-dark(var(--brand-30), var(--brand-60));
    --border-brand-emphasis: light-dark(var(--brand-70), var(--brand-60));
    --border-brand-hover: light-dark(var(--brand-40), var(--brand-10));
   
    --border-accent: light-dark(var(--accent-50), var(--accent-40));
}

@media (prefers-contrast: more) {
  :root {
    --background-page: light-dark(var(--gray-5), var(--gray-95));
    --background-primary: light-dark(var(--white), var(--gray-90));
    --background-secondary: light-dark(var(--white), var(--gray-80));
    --background-brand: light-dark(var(--brand-10), var(--brand-70));
    --background-brand-secondary: light-dark(var(--brand-10), var(--brand-80));
    --background-brand-emphasis: light-dark(var(--brand-70), var(--brand-60));
    --background-accent: light-dark(var(--accent-50), var(--accent-70));

    --foreground-primary: light-dark(var(--gray-95), var(--gray-5));
    --foreground-secondary: light-dark(var(--gray-80), var(--gray-10));
    --foreground-brand: light-dark(var(--brand-60), var(--brand-30));
    --foreground-brand-secondary: light-dark(var(--brand-60), var(--brand-20));
    --foreground-accent: light-dark(var(--accent-5), var(--accent-5));
    --foreground-onEmphasis: light-dark(var(--white), var(--white));

    --border-primary: light-dark(var(--gray-40), var(--gray-40));
    --border-primary-hover: light-dark(var(--gray-30), var(--gray-60));
    --border-secondary: light-dark(var(--gray-30), var(--gray-50));
    --border-brand: light-dark(var(--brand-50), var(--brand-40));
    --border-brand-secondary: light-dark(var(--brand-30), var(--brand-60));
    --border-brand-emphasis: light-dark(var(--brand-70), var(--brand-60));
    --border-brand-hover: light-dark(var(--brand-40), var(--brand-10));
   
    --border-accent: light-dark(var(--accent-50), var(--accent-40));


  }

}

html{
  container-name: mypage;
}


@container mypage style(color-scheme: dark) {
  .heading {
    --text-heading-grade: 0;
  }
} 
@media (prefers-reduced-transparency) {
  :root{
--alpha: 0.9;
  }
}