@import "/style.css";
:host {
  height: 40dvh;
  scroll-snap-align: start;
  scroll-margin: 40px;
  scroll-padding: 100px;
  font-family: var(--text-font-family);
  display: flex;
 
  width: 100%;
  max-width: 80%;
  flex-direction: column;
  min-height: 400px;
  box-sizing: border-box;
}
.card,
.card * {
  box-sizing: border-box;
}

.card {
min-height: 400px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  grid-template-areas:
        " iframe header"
      
        
       ;
  gap: var(--spacing-large);
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
width: 100%;
  position: relative;
  border-radius: var(--radius-large, 16px);
  overflow: hidden;
}

.header {
  grid-area: header;
  padding: var(--spacing-large);
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.title {
  color: var(--container-foreground-primary);
  text-align: left;
  font-family: var(--heading-medium-font-family, "Inter-Bold", sans-serif);
  font-size: var(--text-heading-size-small, 24px);
  font-weight: var(--text-heading-weight);
  position: relative;
  align-self: stretch;
}

.subtitle {
  color: var(--container-foreground-secondary);
  text-align: left;
  
  font-size: var(--text-subhead-size-small, );
  line-height: auto;
  font-weight: var(--subhead-font-weight);
  position: relative;
  align-self: stretch;
}

.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  height: 100%;
  border-radius: var(--radius-large);
  border: 1px solid var(--container-border-primary);
}

p {
  color: var(--container-foreground-primary);
  text-align: left;
  font-family: var(--body-medium-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-medium-font-size, 18px);
  line-height: var(--body-medium-line-height,);
  font-weight: var(--body-medium-font-weight, 400);
  position: relative;
 
}

.footer {
  
  padding: var(--spacing-small, 16px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-small, 16px);
  align-items: center;
  
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  grid-area: footer;
}


::slotted( div[slot="dialogContent"] ) { 
  flex-grow: 1;
}

dialog[open] {
  display: flex;
  flex-direction: column;
}

dialog::backdrop {
  background-color: rgba(6, 6, 6, 0.3);
}

@media screen and (max-width: 900px) {
  :host {
   
    max-width: none;
  }
  .card {
    height: calc(90dvh - 80px);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    
    "iframe"
    "header";
  }
}

.prototype--viewerContainer--8C5YF{
  margin: 0px;
}
::slotted(iframe) {
  grid-area: iframe;
  width: 100%;
  padding: 0px;
  border: none;
  
  flex-grow: 1;
}

::slotted(model-viewer) {
  height: 100%;
  width: 100%;
  background-color: var(--container-background-primary);
}