@import "/style.css";

:host {
  scroll-snap-align: center;
  scroll-margin: 132px;
  scroll-padding: 144px;
  font-family: var(--text-font-family);
  display: flex;
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
  min-height: 400px;
  box-sizing: border-box; 
  height: auto;
  justify-content: center;
}

.card {
  background-color: var(--container-background-primary);
  height: 80dvh;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header content"; 
  gap: var(--spacing-large);
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  border: 1px solid var(--container-border-primary);
  border-radius: var(--radius-medium, 16px);
  overflow: hidden;
}

.header {
  grid-area: header;
  padding: var(--spacing-large);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-large);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative; 
  min-width: 300px;
}

.title {
  color: var(--container-foreground-primary);
  font-family: var(--heading-medium-font-family, "Inter-Bold", sans-serif);
  font-size: var(--text-heading-size-medium, 24px);
  font-weight: var(--text-heading-weight); 
}

.subtitle {
  color: var(--container-foreground-secondary);
  font-size: var(--text-subhead-size-small);
  font-weight: var(--subhead-font-weight);
}

.content {
  overflow: hidden;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns:  1fr;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  height: 100%;
  grid-area: content;
  min-width: 300px;

 
}

p {
  color: var(--container-foreground-primary);
  font-family: var(--body-medium-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-medium-font-size, 18px);
  line-height: var(--body-medium-line-height);
  font-weight: var(--body-medium-font-weight, 400);
}

.footer {
  padding: var(--spacing-small, 16px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-small, 16px);
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  grid-area: footer; 
}

::slotted( div[slot="dialogContent"] ) { 
  flex-grow: 1;
}

dialog[open] {
  display: flex;
  flex-direction: column;
}

dialog::backdrop {
  background-color: rgba(6, 6, 6, 0.3);
}

@media screen and (max-width: 900px) {
  :host {
    max-width: none;
    scroll-margin: 16px;
  }

  .card {
    height: calc(90dvh - 84px - 24px);
    padding: var(--spacing-large);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "content" "header";
  }
}

.prototype--viewerContainer--8C5YF{
  margin: 0px; /* Consider removing if not needed */
}



::slotted(model-viewer) {
  height: 100%;
  width: 100%;
  

}

::slotted(*){
  background-color: var(--container-background-secondary);
  border: 1px solid var(--container-border-primary);
  border-radius: var(--radius-large);
  width: 100%;
  height: 100%;

}

::slotted(img) {
  max-width: 100%;
  height: 100%;
}