:is(button, .button,
  ::part(button)) {
  box-sizing: border-box;
  user-select: none;
  border: 1px solid var(--color-border-primary);
  border-radius: var(--radius-md);
  background: var(--color-surface-1);
  display: inline-flex;
  padding: var(--spacing-md, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs, 4px);
  font-family: var(--text-body-font-family);
  font-size: var(--text-body-md-size);
  color: var(--color-text-primary);
  line-height: var(--text-body-md-line-height);
  height: 48px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  outline: 0px solid var(--color-border-primary);

  transition: outline var(--timing-bounce) 300ms;

  &:hover {
    outline: 4px solid var(--color-border-primary);
  }

.icon{
  font-family: var(--icon-font-family);
}

  &.secondary {
    background-color: var(--color-surface-2);

    &:hover {
      outline: 4px solid var(--color-border-secondary);
    }
  }
}

button:hover {}

button:active {
  outline-width: 8px;
}

button[variant="brand"] {
  background: var(--color-fill-a);
  color: var(--color-text-onFill);
  border: transparent;
}

button[size="small"] {
  height: 32px;
  padding: var(--spacing-sm, 8px);
  gap: var(--spacing-xs, 4px);
}


.icon-button {
  font-family: var(--icon-font-family);
  font-size: var(--icon-size-md);
  height: 48px;
  width: 48px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;

  &.sm {
    font-size: var(--icon-size-sm, 24px);
    height: 32px;
    width: 32px;
  }
}
