dialog {
  margin: auto;
  opacity: 0;
  color: var(--color-text-primary);
  border: 1px solid var(--color-border-primary);
  width: var(--dialog-width);
  min-width: 600px;
  filter: blur(20px);
  padding: 0px;
  background-color: var(--color-surface-page);
  transform-style: preserve-3d;
  transform: perspective(1000px) translateZ(-200px) translateY(0dvh);
  container-type: inline-size;
  container-name: dialog;
  transition-property:
    display,
    opacity,
    transform,
    filter,
    overlay;
  transition-timing-function: var(--timing-decelerate);
  transition-duration: 700ms;
  transition-behavior: allow-discrete;



  footer {
    display: flex;
    border-top: 1px solid var(--color-border-primary);
    padding-inline: var(--spacing-xxxl);
    padding-block: var(--spacing-xl);
    justify-content: flex-end;
    gap: var(--spacing-lg);
    background-color: var(--color-surface-page);
    flex: 0 0 auto;
  }

  header {
    flex: 0 0 auto;
    display: flex;
    border-bottom: 1px solid var(--color-border-primary);
    padding: var(--spacing-xxxl);
    justify-content: space-between;
    gap: var(--spacing-lg);
    position: sticky;
    background-color: var(--color-surface-page);
  }
}

[popover] {
  opacity: 0;
  width: 100%;
  margin: auto;
  filter: blur(20px);
  transform-style: preserve-3d;
  transform: perspective(1000px) translateZ(-200px) translateY(0dvh);
  transition-property: opacity, transform, filter;
  transition-timing-function: var(--timing-decelerate);
  transition-duration: 700ms;
  transition-behavior: allow-discrete;
}

dialog[open] {
  opacity: 1;
  transform: initial;
  filter: blur(0px);
  padding-bottom: env(safe-area-inset-bottom);
  display: block;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 300px;
}

[popover]:popover-open {
  opacity: 1;
  
  filter: blur(0px);
}



dialog::backdrop {
  backdrop-filter: initial;
  transition-duration: 500ms;

  background-color: transparent;


}

dialog[open]::backdrop {
  backdrop-filter: blur(24px);
  transition-timing-function: var(--timing-decelerate);


  background-color: var(--color-surface-backdrop);
}

@starting-style {
  dialog[open] {

    transform: perspective(1000px) translateZ(-200px) translateY(0dvh);
    opacity: 0;
    filter: blur(24px);
  }
}

@starting-style {
  [popover]:popover-open {
    transform: perspective(1000px) translateZ(-200px) translateY(0dvh);
    opacity: 0;
    filter: blur(24px);
  }
}

@starting-style {
  dialog[open]::backdrop {
    backdrop-filter: initial;
    background-color: transparent;

  }
}

.dialog-header {
  margin: 0px;
  margin-bottom: var(--spacing-lg);
  border-bottom: 1px solid var(--color-border-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-text-primary);
  font-size: var(--text-heading-md-size);
  font-weight: var(--text-heading-weight);
}

.dialog-content {
  display: grid;
  grid-auto-columns: 1fr;
}

@media screen and (max-width: 800px),
(max-height:500px) {
  dialog {
    content-visibility: auto;
    margin: 0px;
    margin-top: auto;
    padding: 0px;
    width: 100dvw;
    max-width: none;
    transform: translateY(100dvh);
    min-height: 50dvh;
    height: fit-content;
    min-width: 0px;
    border: 0px;
    border-top: 1px solid var(--color-border-primary);
    transition-duration: 600ms;
    ;

    form {
      flex-grow: 1;
      height: fit-content;
    }

    .wrapper {
      min-height: 50dvh;
    }

    ::slotted([slot="post"]) {
      padding: var(--spacing-lg);
    }

    header {
      padding: var(--spacing-lg);
    }

    footer {
      gap: var(--spacing-sm);
      flex-direction: row;
      align-items: stretch;
      padding: var(--spacing-lg);

      button {
        width: 100%;
      }
    }
  }

  dialog::backdrop {
    backdrop-filter: initial;
    transition-timing-function: var(--timing-decelerate);
    transition-duration: 500ms;

    background-color: var(--color-surface-backdrop);
  }

  dialog[open]::backdrop {
    backdrop-filter: blur(8px);
    transition-timing-function: var(--timing-decelerate);
    transition-duration: 500ms;

    background-color: var(--color-surface-backdrop);
  }

  @starting-style {
    dialog[open]::backdrop {
      backdrop-filter: initial;
      background-color: transparent;
      transition-duration: 500ms;

    }
  }


  @starting-style {
    dialog[open] {
      transform: perspective(500px) translateZ(0px) translateY(100dvh);
    }
  }

  @starting-style {
    [popover]:popover-open {
      transform: perspective(500px) translateZ(0px) translateY(100dvh);
    }
  }

  @keyframes in {
    from {
      filter: blur(10px);
      transform: translateX(100%);
    }
  }

  @keyframes out {
    to {
      filter: blur(10px);
      transform: translateX(-100%);
    }
  }
}
