@import "vars.css";
@import "card.css";

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: var(--foreground-neutral);
  background-color: var(--background-default);
  overflow: hidden;
  height: 100dvh;
  font-family: var(--text-font-family);
}

button {
  padding: var(--spacing-medium);
  border-radius: var(--radius-small, 4px);
  border: 1px solid var(--container-border-primary, #cacfd9);

  font-family: var(--text-font-family);
  font-size: 16px;
  color: var(--container-foreground-primary);
  background-color: var(--container-background-secondary);
  cursor: pointer;
}

button:hover {
  filter: brightness(.9);
}

button[variant="brand"] {
  
  background: var(--container-background-brand);
  color: var(--container-foreground-brand);
  
}

h1 {
  font-family: var(--text-font-family);
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 80px */
}

h4 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5rem;
}

.radio-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}



.radio-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--container-background-primary);
  color: var(--container-foreground-primary);
  font-family: var(--text-font-family);
  border: 1px solid var(--container-border-primary);
  border-radius: var(--radius-small);
  cursor: pointer;
  display: flex;
  
  padding: var(--spacing-large, 24px) var(--spacing-large, 24px) var(--spacing-medium, 16px) var(--spacing-large, 24px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium, 16px);
  border-radius: 16px;
  border: 1px solid var(--container-border-primary, #e1e1e1);
  border: 1px solid
    var(--container-border-primary, color(display-p3 0.8824 0.8824 0.8824));

  &:hover {
    filter: brightness(0.95);
  }
}

.radio-button input[type="radio"] {
  display: none;
}

label:has(input:checked) {
  border: 2px solid var(--container-border-brand);
 
  
}

@media screen and (max-width: 900px) {
  .radio-buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-small) var(--spacing-medium);
}
}

.icon-font {
  font-family: var(--icon-font-family);
}

.page-container {
  display: flex;
  height: 100%;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "sidebar main-content";
}

.sidebar {
  grid-area: sidebar;
  padding: 24px;
  gap: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--container-border-primary);
  background: var(--background-secondary,);
}

.nav-item-group {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

main {
  grid-area: main-content;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  mask: linear-gradient(
      to bottom,
      #00000000 0%,
      #fff 5%,
      #fff 95%,
      #00000000 100%
    )
    100% 10% / 100% 100% repeat-x;
}

@keyframes loading {
  0% {
    transform: translateX(20px);
    opacity: 1;
    filter: blur(3px);
  }

  80% {
    filter: blur(0px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.main-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20dvh 40px;
  gap: 10dvh;

  perspective: 200px;
  transform-style: preserve-3d;
  perspective-origin: 50dvh 50px;
}

.main-content {
  transition: transform 0.5s ease-in-out;
}

.slide-left {
  transform: translateY(-100%);
}

.slide-right {
  transform: translateY(100%);
}

section {
  box-sizing: border-box;
  height: calc(80dvh - 84px);
  display: flex;
  align-items: center;
  justify-content: center;

  scroll-snap-align: start;
  border-radius: var(--radius-large);
}

.page-title {
  height: auto;

  z-index: 2;

  color: var(--foreground-neutral);
  scroll-margin: 20dvh;
  display: flex;
  gap: var(--spacing-medium);
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  max-width: 50dvw;

  h1 {
    margin: 0;
    text-align: left;
    word-wrap: break-all;
  }

  .subhead {
    font-family: var(--text-font-family);
    font-size: var(--text-subhead-size-medium);
    color: var(--foreground-secondary);
  }
}

@media screen and (max-width: 900px) {
  .sidebar {
    padding: 16px;
  }
}

.material-symbols-rounded {
  font-size: 64px;
}

@media screen and (max-width: 900px) {
  body {
    overflow: hidden;
    height: 100dvh;
  }

  main {
    scroll-snap-type: y mandatory;
  }

  .main-content {
    padding: 10dvh 16px;
    gap: 5dvh;
  }

  .page-container {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 84px;
    grid-template-areas:
      "main-content"
      "sidebar";
  }

  .page-title {
    max-width: none;
  }

  .sidebar {
    display: flex;
    height: auto;
    flex-direction: row;
    padding: 12px 16px 16px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-shrink: 0;
    border-top: 1px solid var(--container-border-neutral, #cacfd9);
    background-color: var(--container-background-primary);
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-110%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

dialog {
  color: var(--foreground-neutral);
  border: 1px solid var(--container-border-primary);
  border-radius: var(--radius-large);
 
  padding: 24px;
min-width: 400px;
  background-color: var(--container-background-primary);

  h2 {
    margin: 0;
  }
}

dialog[open] {
  animation: show 300ms ease normal;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  filter: blur(3px);
  animation: 300ms ease-in-out fade;
}

.welcome-card{
  display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
justify-content: start;
gap: var(--spacing-large, 24px);
  border-radius: var(--radius-large, 16px);
border: 2px solid var(--container-border-primary, #E1E1E1);
border: 2px solid var(--container-border-primary, color(display-p3 0.8824 0.8824 0.8824));
background: var(--container-background-primary, #F8F8F8);
background: var(--container-background-primary, color(display-p3 0.9725 0.9725 0.9725));
width: 43dvw;
height: 40dvh;
h1{
  margin: 0;
  font-size: var(--text-heading-size-medium);
  font-weight: var(--text-heading-weight);
}
h2{
  flex-grow: 1;
  margin: 0;
  font-size: var(--text-subhead-size-medium);
  font-weight: var(--text-subhead-weight);
}

button{
  align-self: stretch;
}
}