
@import "./vars.css";

* {
  margin: 0;
  padding: 0;
}

:root {
  --shadow-color: 0deg 0% 73%;
  --shadow-elevation-low: -0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.18),
    -0.4px 0.8px 1.1px -0.9px hsl(var(--shadow-color) / 0.22),
    -0.9px 1.8px 2.4px -1.9px hsl(var(--shadow-color) / 0.25);
  --shadow-elevation-medium: -0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.15),
    -0.7px 1.4px 1.9px -0.5px hsl(var(--shadow-color) / 0.17),
    -1.2px 2.5px 3.4px -0.9px hsl(var(--shadow-color) / 0.19),
    -2.3px 4.7px 6.4px -1.4px hsl(var(--shadow-color) / 0.21),
    -4.3px 8.8px 11.9px -1.9px hsl(var(--shadow-color) / 0.22);
  --shadow-elevation-high: -0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.14),
    -1.1px 2.2px 3px -0.2px hsl(var(--shadow-color) / 0.15),
    -1.8px 3.7px 5px -0.4px hsl(var(--shadow-color) / 0.16),
    -2.7px 5.5px 7.4px -0.6px hsl(var(--shadow-color) / 0.16),
    -3.7px 7.7px 10.4px -0.8px hsl(var(--shadow-color) / 0.17),
    -5.2px 10.6px 14.3px -1.1px hsl(var(--shadow-color) / 0.18),
    -7.1px 14.6px 19.7px -1.3px hsl(var(--shadow-color) / 0.19),
    -9.7px 19.9px 26.9px -1.5px hsl(var(--shadow-color) / 0.2),
    -13.2px 26.9px 36.4px -1.7px hsl(var(--shadow-color) / 0.21),
    -17.5px 35.8px 48.4px -1.9px hsl(var(--shadow-color) / 0.22);
}

h1 {
  font-family: var(--text-font-family);
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 80px */
}

h4 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeLeft {
  from {
    transform: translateX(100px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.icon-font {
  font-family: var(--icon-font-family);
}

body{
  overflow: hidden;
  height: 100dvh;
}

.page-container {
  display: flex;
  height: 100%;
  
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "sidebar main-content";
  
  
}
.sidebar {
 
  grid-area: sidebar;
  padding: 24px;
  gap: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main{
  grid-area: main-content;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
 

}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 48px;
  scroll-padding: 24px;
  


  
  
  
 
  
  
}


section {
  box-sizing: border-box;
  height: calc(80dvh - 84px);
  display: flex;
  align-items: center;
  justify-content: center;
  
  scroll-margin: 48px;
  padding: 40px;
  
  scroll-snap-align: start;
  border-radius: var(--radius-large);
  
}





@media screen and (max-width: 900px) {
  .sidebar {
    padding: 16px;
  }
}



.material-symbols-rounded {
  font-size: 64px;
}

 
@media screen and (max-width: 900px) {
  body{
    overflow: hidden;
  height: 100dvh;
  }
  .main-content{
    padding: 16px;
  }
  .page-container {
   height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 84px;
    grid-template-areas:
      "main-content"
      "sidebar";
  }

  
  .sidebar {
    display: flex;
    height: auto;

    flex-direction: row;
    padding: 12px 16px 16px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-shrink: 0;
   
    border-top: 1px solid var(--container-border-neutral, #CACFD9);

    
    
  }

 

