@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 80px */
}

h4 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.example {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;

  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}
.header {
  padding: var(--spacing-large, 40px);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;

  width: 400px;
  position: relative;
  height: auto;
}
.cards {
  color: #000000;
  text-align: left;
  font-family: var(--heading-font-family, "Inter-Medium", sans-serif);
  font-size: var(--heading-font-size, 80px);
  line-height: var(--heading-line-height, 100%);
  font-weight: var(--heading-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.collection-of-experiments-by-ben-jennings {
  color: #000000;
  text-align: left;
  font-family: var(--body-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-font-size, 16px);
  line-height: var(--body-line-height);
  font-weight: var(--body-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.card-container {
  padding: var(--spacing-large, 40px);
  display: flex;
  flex-direction: column;
  gap: 53px;
  align-items: stretch;
  justify-content: stretch;

  flex: 1;
  position: relative;
  overflow-y: auto;
  height: 100dvh;
  overflow: auto;
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  min-width: 600px;
}

.sentiment-very-satisfied {
  color: var(--text-neutral-inset, #505050);
  text-align: left;
  font-family: "MaterialSymbolsSharp-Regular", sans-serif;
  font-size: 40px;
  line-height: 100%;
  font-weight: 400;
  position: relative;
}
