@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: "OpenDyslexic3";
  src: url("/fonts/OpenDyslexic3-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic3";
  src: url("/fonts/OpenDyslexic3-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 32px;
  --font-size-8: 40px;
  --font-size-9: 48px;
  --font-size-10: 64px;

  --radius-none: 0px;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;

  --spacing-none: 0px;
  --spacing-x-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 16px;
  --spacing-x-large: 24px;
  --spacing-xx-large: 32px;
  --spacing-xxx-large: 40px;

 

  --text-heading-font-family: "Inter Tight";
  --text-heading-weight: 550;
 
  --text-heading-xl-size: var(--font-size-10);
  --text-heading-lg-size: var(--font-size-9);
  --text-heading-lg-line-height: var(--font-size-10);
  --text-heading-md-size: var(--font-size-8);
  --text-heading-md-line-height: var(--font-size-9);
  --text-heading-sm-size: var(--font-size-6);
  --text-heading-sm-line-height: var(--font-size-7);

 
  --text-body-font-family: "Inter";
  --text-body-weight: "400";
  --text-body-sm-size: var(--font-size-3);
  --text-body-md-size: var(--font-size-4);
  --text-body-lg-size: var(--font-size-5);

  --icon-size-small: var(--font-size-3);
  --icon-size-medium: 32px;
  --icon-size-large: 40px;
  --icon-weight-small: 300px;
  --icon-weight-medium: 400px;
  --icon-weight-large: 500px;

  --icon-font-family: "Material Symbols Sharp";
  --icon-weight-small: 300;
  --icon-weight-medium: 400;
  --icon-weight-large: 500;
  --icon-size-small: var(--font-size-3);
  --icon-size-medium: var(--font-size-4);
  --icon-size-large: var(--font-size-6);

  

  --black: oklch(0% 0% 0deg);
  --white: oklch(100% 0% 0deg); 


 
  --lightness-5: 98%;
  --lightness-10: 93.99%;
  --lightness-20: 87.97%;
  --lightness-30: 79.19%;
  --lightness-40: 66.64%;
  --lightness-50: 49.00%;
  --lightness-60: 31.36%;
  --lightness-70: 37%;
  --lightness-80: 29%;
  --lightness-90: 24%;
  --lightness-95: 13%;

  
  --lightness-scale: 1; 
  
  
  
 
  


  --brand-hue: 230;

  --brand-5: oklch(var(--lightness-5) 3.8% var(--brand-hue));
  --brand-10: oklch(var(--lightness-10) 6.5% var(--brand-hue));
  --brand-20: oklch(var(--lightness-20) 12.8% var(--brand-hue));
  --brand-30: oklch(var(--lightness-30) 21.9% var(--brand-hue));
  --brand-40: oklch(var(--lightness-40) 38.2% var(--brand-hue));
  --brand-50: oklch(var(--lightness-50) 48.1% var(--brand-hue));
  --brand-60: oklch(var(--lightness-60) 58.3% var(--brand-hue));
  --brand-70: oklch(var(--lightness-70) 42.4% var(--brand-hue));
  --brand-80: oklch(var(--lightness-80) 34.6% var(--brand-hue));
  --brand-90: oklch(var(--lightness-90) 27.7% var(--brand-hue));
  --brand-95: oklch(var(--lightness-95) 16.2% var(--brand-hue));

  --gray-hue: calc(var(--brand-hue) + 90);
  --gray-5: oklch(var(--lightness-5) 1% var(--gray-hue));
  --gray-10: oklch(var(--lightness-10) 1% var(--gray-hue));
  --gray-20: oklch(var(--lightness-20) 1% var(--gray-hue));
  --gray-30: oklch(var(--lightness-30) 1% var(--gray-hue));
  --gray-40: oklch(var(--lightness-40) 1% var(--gray-hue));
  --gray-50: oklch(var(--lightness-50) 1% var(--gray-hue));
  --gray-60: oklch(var(--lightness-60) 1% var(--gray-hue));
  --gray-70: oklch(var(--lightness-70) 1% var(--gray-hue));
  --gray-80: oklch(var(--lightness-80) 1% var(--gray-hue));
  --gray-90: oklch(var(--lightness-90) 1% var(--gray-hue));
  --gray-95: oklch(var(--lightness-95) 1% var(--gray-hue));

  --accent-hue: calc(var(--brand-hue) + 90);
  --accent-5: oklch(var(--lightness-5) 10% var(--accent-hue));
  --accent-10: oklch(var(--lightness-10) 20% var(--accent-hue));
  --accent-20: oklch(var(--lightness-20) 40% var(--accent-hue));
  --accent-30: oklch(var(--lightness-30) 60% var(--accent-hue));
  --accent-40: oklch(var(--lightness-40) 80% var(--accent-hue));
  --accent-50: oklch(var(--lightness-50) 100% var(--accent-hue));
  --accent-60: oklch(var(--lightness-60) 80% var(--accent-hue));
  --accent-70: oklch(var(--lightness-70) 60% var(--accent-hue));
  --accent-80: oklch(var(--lightness-80) 40% var(--accent-hue));
  --accent-90: oklch(var(--lightness-90) 20% var(--accent-hue));
  --accent-95: oklch(var(--lightness-95) 10% var(--accent-hue));

  --purple-hue: calc(var(--brand-hue) - 90);
  --purple-5: oklch(var(--lightness-5) 10% var(--purple-hue));
  --purple-10: oklch(var(--lightness-10) 20% var(--purple-hue));
  --purple-20: oklch(var(--lightness-20) 40% var(--purple-hue));
  --purple-30: oklch(var(--lightness-30) 60% var(--purple-hue));
  --purple-40: oklch(var(--lightness-40) 80% var(--purple-hue));
  --purple-50: oklch(var(--lightness-50) 100% var(--purple-hue));
  --purple-60: oklch(var(--lightness-60) 80% var(--purple-hue));
  --purple-70: oklch(var(--lightness-70) 60% var(--purple-hue));
  --purple-80: oklch(var(--lightness-80) 40% var(--purple-hue));
  --purple-90: oklch(var(--lightness-90) 20% var(--purple-hue));
  --purple-95: oklch(var(--lightness-95) 10% var(--purple-hue));

  --hover: brightness(0.95);

  color-scheme: light dark;
  --background-page: light-dark(var(--white), var(--gray-95));
  --background-primary: light-dark(var(--gray-5), var(--gray-80));
  --background-secondary: light-dark(var(--gray-10), var(--gray-70));
  --background-brand: light-dark(var(--brand-5), var(--brand-95));
  --background-brand-emphasis: light-dark(var(--brand-50), var(--brand-70));
  
 
  --background-accent: light-dark(var(--accent-50), var(--accent-60));
  --background-backdrop: light-dark(var(--brand-95), var(--brand-90));


  --foreground-primary: light-dark(var(--gray-95), var(--gray-5));
  --foreground-secondary: light-dark(var(--gray-70), var(--gray-10));
  --foreground-brand: light-dark(var(--brand-60), var(--brand-30));
  --foreground-accent: light-dark(var(--accent-5), var(--accent-5));
  --foreground-onEmphasis: light-dark(var(--white),var(--white));
  
  --border-primary: light-dark(var(--gray-20), var(--gray-70));
  --border-primary-hover: light-dark(var(--gray-30), var(--gray-60));
  --border-secondary: light-dark(var(--gray-30), var(--gray-60));
  --border-brand: light-dark(var(--brand-20), var(--brand-80));
  --border-brand-emphasis: light-dark(var(--brand-70) / 0.8, var(--brand-50) / 0.8);
  
   
   --border-accent: light-dark(var(--accent-60), var(--accent-50));
 
 

  

}


[data-mode="high-contrast"] {
  --background-page: light-dark(var(--white), var(--black));
  --background-primary: light-dark(var(--white), var(--black));
  --background-brand: light-dark(var(--brand-60), var(--brand-70));
  --background-secondary: light-dark(var(--gray-5), var(--gray-95));
  --background-accent: light-dark(var(--accent-10), var(--accent-90));

  --border-brand: light-dark(var(--brand-90), var(--brand-10));
 --border-primary: light-dark(var(--gray-90), var(--gray-10));
  --border-secondary: light-dark(var(--gray-90), var(--gray-10));
  --border-accent: light-dark(var(--accent-90), var(--accent-10));
}


[data-theme="dyslexic"] {
  --text-font-family: "OpenDyslexic3", sans-serif;
}