







:root {
  --theme-slider-size:40px;
  /*   Typography Scale  */
 --font-size-1: 0.75rem;    
--font-size-2: 0.875rem;   
--font-size-3: 1rem;       
--font-size-4: 1.125rem;   
--font-size-5: 1.25rem;    
--font-size-6: 1.5rem;     
--font-size-7: 2rem;       
--font-size-8: 2.5rem;    
--font-size-9: 3.5rem;     
--font-size-10: 4.5rem;     




  /*   Border Radius   */
  --radius-none: 0px;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;

  /*   Spacing   */
  --spacing-none: 0px;
  --spacing-x-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 16px;
  --spacing-x-large: 24px;
  --spacing-xx-large: 32px;
  --spacing-xxx-large: 40px;

  --black: oklch(0% 0% 0deg);
  --white: oklch(100% 0% 0deg);

  --timing-decelerate:cubic-bezier(0, 0.86, 0.13, 0.99);
  --timing-ease:cubic-bezier(.2,0,0,1);
--dialog-width:70dvw;

  /*   Color Lightness   */
  --lightness-5: 99%;
  --lightness-10: 97%;
  --lightness-20: 92%;
  --lightness-30: 80%;
  --lightness-40: 72%;
  --lightness-50: 56%;
  --lightness-60: 48%;
  --lightness-70: 40%;
  --lightness-80: 32%;
  --lightness-90:24%;
  --lightness-95: 16%;



  /*   Base Brand Color  */
  --brand-hue: 230;
--brand-chroma-5: 4%;
--brand-chroma-10: 8%;
--brand-chroma-20: 16%;
--brand-chroma-30: 24%;
--brand-chroma-40: 32%;
--brand-chroma-50: 48%;
--brand-chroma-60: 32%;
--brand-chroma-70: 24%;
--brand-chroma-80: 16%;
--brand-chroma-90: 8%;
--brand-chroma-95: 4%;

--brand-5: oklch(var(--lightness-5) var(--brand-chroma-5) var(--brand-hue));
--brand-10: oklch(var(--lightness-10) var(--brand-chroma-10) var(--brand-hue));
--brand-20: oklch(var(--lightness-20) var(--brand-chroma-20) var(--brand-hue));
--brand-30: oklch(var(--lightness-30) var(--brand-chroma-30) var(--brand-hue));
--brand-40: oklch(var(--lightness-40) var(--brand-chroma-40) var(--brand-hue));
--brand-50: oklch(var(--lightness-50) var(--brand-chroma-50) var(--brand-hue));
--brand-60: oklch(var(--lightness-60) var(--brand-chroma-60) var(--brand-hue));
--brand-70: oklch(var(--lightness-70) var(--brand-chroma-70) var(--brand-hue));
--brand-80: oklch(var(--lightness-80) var(--brand-chroma-80) var(--brand-hue));
--brand-90: oklch(var(--lightness-90) var(--brand-chroma-90) var(--brand-hue));
--brand-95: oklch(var(--lightness-95) var(--brand-chroma-95) var(--brand-hue));


--alpha: 0.5;

--brand-5-alpha: oklch(var(--lightness-5) var(--brand-chroma-5) var(--brand-hue) / var(--alpha));
--brand-10-alpha: oklch(var(--lightness-10) var(--brand-chroma-10) var(--brand-hue) / var(--alpha));
--brand-20-alpha: oklch(var(--lightness-20) var(--brand-chroma-20) var(--brand-hue) / var(--alpha));
--brand-30-alpha: oklch(var(--lightness-30) var(--brand-chroma-30) var(--brand-hue) / var(--alpha));
--brand-40-alpha: oklch(var(--lightness-40) var(--brand-chroma-40) var(--brand-hue) / var(--alpha));
--brand-50-alpha: oklch(var(--lightness-50) var(--brand-chroma-50) var(--brand-hue) / var(--alpha));
--brand-60-alpha: oklch(var(--lightness-60) var(--brand-chroma-60) var(--brand-hue) / var(--alpha));
--brand-70-alpha: oklch(var(--lightness-70) var(--brand-chroma-70) var(--brand-hue) / var(--alpha));
--brand-80-alpha: oklch(var(--lightness-80) var(--brand-chroma-80) var(--brand-hue) / var(--alpha));
--brand-90-alpha: oklch(var(--lightness-90) var(--brand-chroma-90) var(--brand-hue) / var(--alpha));
--brand-95-alpha: oklch(var(--lightness-95) var(--brand-chroma-95) var(--brand-hue) / var(--alpha));

  /*   Base Neutral Color  */
  --gray-hue: calc(var(--brand-hue) + 0);
  --gray-chroma: 3%;
  --gray-5: oklch(var(--lightness-5) var(--gray-chroma) var(--gray-hue));
  --gray-10: oklch(var(--lightness-10) var(--gray-chroma) var(--gray-hue));
  --gray-20: oklch(var(--lightness-20) var(--gray-chroma) var(--gray-hue));
  --gray-30: oklch(var(--lightness-30) var(--gray-chroma) var(--gray-hue));
  --gray-40: oklch(var(--lightness-40) var(--gray-chroma) var(--gray-hue));
  --gray-50: oklch(var(--lightness-50) var(--gray-chroma) var(--gray-hue));
  --gray-60: oklch(var(--lightness-60) var(--gray-chroma) var(--gray-hue));
  --gray-70: oklch(var(--lightness-70) var(--gray-chroma) var(--gray-hue));
  --gray-80: oklch(var(--lightness-80) var(--gray-chroma) var(--gray-hue));
  --gray-90: oklch(var(--lightness-90) var(--gray-chroma) var(--gray-hue));
  --gray-95: oklch(var(--lightness-95) var(--gray-chroma) var(--gray-hue));

  --gray-5-alpha: oklch(var(--lightness-5) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-10-alpha: oklch(var(--lightness-10) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-20-alpha: oklch(var(--lightness-20) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-30-alpha: oklch(var(--lightness-30) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-40-alpha: oklch(var(--lightness-40) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-50-alpha: oklch(var(--lightness-50) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-60-alpha: oklch(var(--lightness-60) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-70-alpha: oklch(var(--lightness-70) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-80-alpha: oklch(var(--lightness-80) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-90-alpha: oklch(var(--lightness-90) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-95-alpha: oklch(var(--lightness-95) var(--gray-chroma) var(--gray-hue) / var(--alpha));

  /*   Base Accent Color  */
  --accent-hue: calc(var(--brand-hue) + 180);
  --accent-chroma: 20%;
  
  --accent-5: oklch(from var(--brand-5) l c var(--accent-hue));
  --accent-10: oklch(from var(--brand-10) l c var(--accent-hue));
  --accent-20: oklch(from var(--brand-20) l c var(--accent-hue));
  --accent-30: oklch(from var(--brand-30) l c var(--accent-hue));
  --accent-40: oklch(from var(--brand-40) l c var(--accent-hue));
  --accent-50: oklch(from var(--brand-50) l c var(--accent-hue));
  --accent-60: oklch(from var(--brand-60) l c var(--accent-hue));
  --accent-70:oklch(from var(--brand-70) l c var(--accent-hue));
  --accent-80: oklch(from var(--brand-80) l c var(--accent-hue));
  --accent-90: oklch(from var(--brand-90) l c var(--accent-hue));
  --accent-95:oklch(from var(--brand-95) l c var(--accent-hue));




  --hover: brightness(0.95);


  /*  Color System  */
  color-scheme: light dark;
  --background-page: light-dark(var(--gray-10), var(--gray-90));
  --background-primary: light-dark(var(--gray-5), var(--gray-70));
  --background-secondary: light-dark(var(--gray-10), var(--gray-80));
  --background-brand: light-dark(var(--brand-20), var(--brand-70));
  --background-brand-hover: light-dark(var(--brand-30), var(--brand-80));
  --background-brand-secondary: light-dark(var(--brand-10), var(--brand-80));
  --background-brand-emphasis: light-dark(var(--brand-50), var(--brand-60));
  --background-accent: light-dark(var(--accent-20), var(--accent-70));
  --background-accent-secondary: light-dark(var(--accent-10), var(--accent-80));
  --background-accent-emphasis: light-dark(var(--accent-50), var(--accent-50));

  --background-backdrop: light-dark(var(--gray-30-alpha),var(--gray-70-alpha));

  

  --foreground-primary: light-dark(var(--gray-95), var(--gray-5));
  --foreground-secondary: light-dark(var(--gray-60), var(--gray-20));
  --foreground-brand: light-dark(var(--brand-50), var(--brand-30));
  --foreground-brand-secondary: light-dark(var(--brand-30), var(--brand-50));
  --foreground-accent: light-dark(var(--accent-90), var(--accent-20));
  --foreground-onEmphasis: light-dark(var(--white), var(--white));

  --border-primary: light-dark(var(--gray-20), var(--gray-60));
  --border-primary-hover: light-dark(var(--gray-30), var(--gray-50));
  --border-secondary: light-dark(var(--gray-20), var(--gray-70));
  --border-brand: light-dark(var(--brand-10), var(--brand-60));
  --border-brand-hover: light-dark(var(--brand-20), var(--gray-60));
  --border-brand-secondary: light-dark(var(--brand-20), var(--brand-60));
  --border-brand-emphasis: light-dark(var(--brand-60), var(--brand-70));
  --border-accent: light-dark(var(--accent-20), var(--accent-60));




  /*  Icons  */
  --icon-font-family: "Material Symbols Sharp";

  --icon-size-large: var(--font-size-6);
  --icon-size-medium: var(--font-size-4);
  --icon-size-small: var(--font-size-3);

  --icon-weight-large: 500;
  --icon-weight-medium: 400;
  --icon-weight-small: 300;

  /*  Typography - Body Text  */
  --text-body-font-family: "Roboto Flex";
  --text-body-lg-line-height: var(--font-size-6);
  --text-body-lg-size: var(--font-size-5);
  --text-body-md-line-height: var(--font-size-5);
  --text-body-md-size: var(--font-size-4);
  --text-body-sm-line-height: var(--font-size-4);
  --text-body-sm-size: var(--font-size-3);
  --text-body-weight: 400;
  --text-body-xs-line-height: var(--font-size-3);
  --text-body-xs-size: var(--font-size-2);

  /*  Typography - Heading  */
  --text-heading-weight: 550;

  --text-heading-font-family: "Roboto Flex";
  --text-heading-grade: var(--font-grade-lg);

 
  --text-heading-sm-line-height: var(--font-size-7);
  --text-heading-sm-size: var(--font-size-6);

  --text-heading-md-line-height: var(--font-size-9);
  --text-heading-md-size: var(--font-size-8);

  --text-heading-lg-line-height: var(--font-size-10);
  --text-heading-lg-size: var(--font-size-9);

  --text-heading-xl-line-height: 110%;
  --text-heading-xl-size: var(--font-size-10);



}




[data-mode="high-contrast"] {
  --lightness-5: 100%;
  --lightness-10: 90%;
  --lightness-20: 80%;
  --lightness-30: 70%;
  --lightness-40: 60%;
  --lightness-50: 50%;
  --lightness-60: 40%;
  --lightness-70: 30%;
  --lightness-80: 20%;
  --lightness-90: 20%;
  --lightness-95: 0%;
  --brand-chroma:25%;
  --background-page: light-dark(var(--white), var(--black));
  --background-primary: light-dark(var(--white), var(--black));
  --background-secondary: light-dark(var(--white), var(--black));
  --background-brand: light-dark(var(--brand-80), var(--brand-60));
  --background-brand-secondary: light-dark(var(--brand-5), var(--black));
  --background-brand-emphasis: light-dark(var(--brand-70), var(--brand-50));
  --background-accent: light-dark(var(--accent-80), var(--accent-50));

  --foreground-primary: light-dark(var(--gray-95), var(--white));
  --foreground-secondary: light-dark(var(--gray-80), var(--white));
  --foreground-brand: light-dark(var(--white), var(--white));
  --foreground-brand-secondary: light-dark(var(--brand-10), var(--white));
  --foreground-accent: light-dark(var(--white), var(--white));
  --foreground-onEmphasis: light-dark(var(--white), var(--white));

  --border-primary: light-dark(var(--gray-95), var(--white));
  --border-secondary: light-dark(var(--gray-90), var(--white));
  --border-brand: light-dark(var(--brand-20), var(--brand-50));

  --background-accent: light-dark(var(--accent-50), var(--accent-50));
  --background-backdrop: light-dark(color-mix(in oklch, var(--brand-10) 50%, transparent),color-mix(in oklch, var(--brand-80) 50%, transparent));
 
  
  --border-accent: light-dark(var(--accent-80), var(--white));
  --border-brand-emphasis: light-dark(var(--brand-60), var(--brand-70));
  --border-brand-hover: light-dark(var(--brand-40), var(--brand-10));
  --border-brand-secondary: light-dark(var(--brand-20), var(--brand-60));
  --border-primary-hover: light-dark(var(--gray-30), var(--gray-60));


}

@media (prefers-contrast: more) {
  :root {
  --lightness-5: 100%;
  --lightness-10: 90%;
  --lightness-20: 80%;
  --lightness-30: 70%;
  --lightness-40: 60%;
  --lightness-50: 50%;
  --lightness-60: 40%;
  --lightness-70: 30%;
  --lightness-80: 20%;
  --lightness-90: 20%;
  --lightness-95: 0%;
  --brand-chroma:25%;
  --background-page: light-dark(var(--white), var(--black));
  --background-primary: light-dark(var(--white), var(--black));
  --background-secondary: light-dark(var(--white), var(--black));
  --background-brand: light-dark(var(--brand-80), var(--brand-60));
  --background-brand-secondary: light-dark(var(--brand-5), var(--black));
  --background-brand-emphasis: light-dark(var(--brand-70), var(--brand-50));
  --background-accent: light-dark(var(--accent-80), var(--accent-50));

  --foreground-primary: light-dark(var(--gray-95), var(--white));
  --foreground-secondary: light-dark(var(--gray-80), var(--white));
  --foreground-brand: light-dark(var(--white), var(--white));
  --foreground-brand-secondary: light-dark(var(--brand-10), var(--white));
  --foreground-accent: light-dark(var(--white), var(--white));
  --foreground-onEmphasis: light-dark(var(--white), var(--white));

  --border-primary: light-dark(var(--gray-95), var(--white));
  --border-secondary: light-dark(var(--gray-90), var(--white));
  --border-brand: light-dark(var(--brand-20), var(--brand-50));

  --background-accent: light-dark(var(--accent-50), var(--accent-50));
  --background-backdrop: light-dark(color-mix(in oklch, var(--brand-10) 50%, transparent),color-mix(in oklch, var(--brand-80) 50%, transparent));
 
  
  --border-accent: light-dark(var(--accent-80), var(--white));
  --border-brand-emphasis: light-dark(var(--brand-60), var(--brand-70));
  --border-brand-hover: light-dark(var(--brand-40), var(--brand-10));
  --border-brand-secondary: light-dark(var(--brand-20), var(--brand-60));
  --border-primary-hover: light-dark(var(--gray-30), var(--gray-60));



}}