@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');
@font-face {
  font-family: "OpenDyslexic3";
  src: url("/fonts/OpenDyslexic3-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic3";
  src: url("/fonts/OpenDyslexic3-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 32px;
  --font-size-8: 40px;
  --font-size-9: 48px;
  --font-size-10: 64px;

  --radius-none: 0px;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;

  --spacing-none: 0px;
  --spacing-x-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 16px;
  --spacing-x-large: 24px;
  --spacing-xx-large: 32px;
  --spacing-xxx-large: 40px;

  --icon-size-small: var(--font-size-3);
  --icon-size-medium: 32px;
  --icon-size-large: 40px;
  --icon-weight-small: 300px;
  --icon-weight-medium: 400px;
  --icon-weight-large: 500px;

  --text-heading-weight: 700;
  --text-heading-size-small: var(--font-size-6);
  --text-heading-size-medium: var(--font-size-8);
  --text-heading-size-large: var(--font-size-10);
  --text-font-family: "Inter";

  --icon-font-family: "Material Symbols Sharp";
  --icon-weight-small: 300;
  --icon-size-small: var(--font-size-3);
  --icon-weight-medium: 400;
  --icon-weight-large: 500;
  --icon-size-medium: var(--font-size-4);
  --icon-size-large: var(--font-size-5);

  --text-subhead-weight: 400;
  --text-body-weight: "400";
  --text-body-small: var(--font-size-3);
  --text-body-medium: var(--font-size-4);
  --text-body-large: var(--font-size-5);
  --text-subhead-size-small: var(--font-size-3);
  --text-subhead-size-medium: var(--font-size-6);
  --text-subhead-size-large: var(--font-size-7);

  --lightness-5: 98%;
  --lightness-10: 95%;
  --lightness-20: 90%;
  --lightness-30: 80%;
  --lightness-40: 70%;
  --lightness-50: 60%;
  --lightness-60: 50%;
  --lightness-70: 40%;
  --lightness-80: 30%;
  --lightness-90: 20%;
  --lightness-95: 10%;

  --black: oklch(0% 0% 0deg);
  --white: oklch(100% 0% 0deg);



  --brand-hue:230;
 
  --brand-10: oklch(var(--lightness-10) 6.5% var(--brand-hue));
  --brand-20: oklch(var(--lightness-20) 12.8% var(--brand-hue));
  --brand-30: oklch(var(--lightness-30) 21.9% var(--brand-hue));
  --brand-40: oklch(var(--lightness-40) 38.2% var(--brand-hue));
  --brand-5: oklch(var(--lightness-5) 3.8% var(--brand-hue));
  --brand-50: oklch(var(--lightness-50) 48.1% var(--brand-hue));
  --brand-60: oklch(var(--lightness-60) 58.3% var(--brand-hue));
  --brand-70: oklch(var(--lightness-70) 42.4% var(--brand-hue));
  --brand-80: oklch(var(--lightness-80) 34.6% var(--brand-hue));
  --brand-90: oklch(var(--lightness-90) 27.7% var(--brand-hue));
  --brand-95: oklch(var(--lightness-95) 16.2% var(--brand-hue));

  --gray-hue: 230;
  --gray-5: oklch(var(--lightness-5) 1% var(--brand-hue));
  --gray-10: oklch(var(--lightness-10) 1% var(--brand-hue));
  --gray-20: oklch(var(--lightness-20) 1% var(--brand-hue));
  --gray-30: oklch(var(--lightness-30) 1% var(--brand-hue));
  --gray-40: oklch(var(--lightness-40) 1% var(--brand-hue));
  --gray-50: oklch(var(--lightness-50) 1% var(--brand-hue));
  --gray-60: oklch(var(--lightness-60) 1% var(--brand-hue));
  --gray-70: oklch(var(--lightness-70) 1% var(--brand-hue));
  --gray-80: oklch(var(--lightness-80) 1% var(--brand-hue));
  --gray-90: oklch(var(--lightness-90) 1% var(--brand-hue));
  --gray-95: oklch(var(--lightness-95) 1% var(--brand-hue));

  --accent-hue: calc(var(--brand-hue) + 133);
  --accent-5: oklch(var(--lightness-5) 10% var(--accent-hue));
  --accent-10: oklch(var(--lightness-10) 20% var(--accent-hue));
  --accent-20: oklch(var(--lightness-20) 40% var(--accent-hue));
  --accent-30: oklch(var(--lightness-30) 60% var(--accent-hue));
  --accent-40: oklch(var(--lightness-40) 80% var(--accent-hue));
  --accent-50: oklch(var(--lightness-50) 100% var(--accent-hue));
  --accent-60: oklch(var(--lightness-60) 80% var(--accent-hue));
  --accent-70: oklch(var(--lightness-70) 60% var(--accent-hue));
  --accent-80: oklch(var(--lightness-80) 40% var(--accent-hue));
  --accent-90: oklch(var(--lightness-90) 20% var(--accent-hue));
  --accent-95: oklch(var(--lightness-95) 10% var(--accent-hue));

  --purple-hue: 310;
  --purple-5: oklch(var(--lightness-5) 1% var(--purple-hue));
  --purple-10: oklch(var(--lightness-10) 1% var(--purple-hue));
  --purple-20: oklch(var(--lightness-20) 1% var(--purple-hue));
  --purple-30: oklch(var(--lightness-30) 1% var(--purple-hue));
  --purple-40: oklch(var(--lightness-40) 1% var(--purple-hue));
  --purple-50: oklch(var(--lightness-50) 1% var(--purple-hue));
  --purple-60: oklch(var(--lightness-60) 1% var(--purple-hue));
  --purple-70: oklch(var(--lightness-70) 1% var(--purple-hue));
  --purple-80: oklch(var(--lightness-80) 1% var(--purple-hue));
  --purple-90: oklch(var(--lightness-90) 1% var(--purple-hue));
  --purple-95: oklch(var(--lightness-95) 1% var(--purple-hue));
}

@media (prefers-color-scheme: light) {
  :root {
    --background-default: var(--white);
    --background-secondary: var(--gray-5);
    --container-background-brand: var(--brand-60);
    --container-background-primary: var(--gray-5);
    --container-background-secondary: var(--gray-20);
    --container-background-success: var(--accent-50);
    --container-border-brand: var(--brand-70);
    --container-border-primary: var(--gray-20);
    --container-border-secondary: var(--gray-30);
    --container-border-success: var(--accent-60);
    --container-foreground-brand: var(--white);
    --container-foreground-primary: var(--gray-95);
    --container-foreground-secondary: var(--gray-90);
    --container-foreground-success: var(--accent-5);
    --foreground-brand: var(--brand-50);
    --foreground-neutral: var(--gray-95);
    --foreground-secondary: var(--gray-90);
    --foreground-success: var(--accent-50);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-default: var(--gray-95);
    --background-secondary: var(--gray-80);
    --container-background-brand: var(--brand-70);
    --container-background-primary: var(--gray-80);
    --container-background-secondary: var(--gray-70);
    --container-background-success: var(--accent-60);
    --container-border-brand: var(--brand-60);
    --container-border-primary: var(--gray-80);
    --container-border-secondary: var(--gray-70);
    --container-border-success: var(--accent-50);
    --container-foreground-brand: var(--white);
    --container-foreground-primary: var(--gray-5);
    --container-foreground-secondary: var(--gray-10);
    --container-foreground-success: var(--accent-5);
    --foreground-brand: var(--brand-40);
    --foreground-neutral: var(--gray-5);
    --foreground-secondary: var(--gray-10);
    --foreground-success: var(--accent-40);
  }
}

[data-theme="dark"] {
  --background-default: var(--gray-95);
  --background-secondary: var(--gray-90);
  --container-background-brand: var(--brand-70);
  --container-background-primary: var(--gray-80);
  --container-background-secondary: var(--gray-70);
  --container-background-success: var(--accent-60);
  --container-border-brand: var(--brand-60);
  --container-border-primary: var(--gray-80);
  --container-border-secondary: var(--gray-70);
  --container-border-success: var(--accent-50);
  --container-foreground-brand: var(--white);
  --container-foreground-primary: var(--gray-5);
  --container-foreground-secondary: var(--gray-20);
  --container-foreground-success: var(--accent-5);
  --foreground-brand: var(--brand-40);
  --foreground-neutral: var(--gray-5);
  --foreground-secondary: var(--gray-10);
  --foreground-success: var(--accent-40);
}

[data-theme="light"] {
  --background-default: var(--white);
  --background-secondary: var(--gray-5);
  --container-background-brand: var(--brand-60);
  --container-background-primary: var(--gray-5);
  --container-background-secondary: var(--gray-20);
  --container-background-success: var(--accent-50);
  --container-border-brand: var(--brand-70);
  --container-border-primary: var(--gray-20);
  --container-border-secondary: var(--gray-30);
  --container-border-success: var(--accent-60);
  --container-foreground-brand: var(--white);
  --container-foreground-primary: var(--gray-95);
  --container-foreground-secondary: var(--gray-80);
  --container-foreground-success: var(--accent-5);
  --foreground-brand: var(--brand-50);
  --foreground-neutral: var(--gray-95);
  --foreground-secondary: var(--gray-90);
  --foreground-success: var(--accent-50);
}

[data-theme="dyslexic"] {
  --text-font-family: "OpenDyslexic3", sans-serif;
}
