@import "/style.css";

:host {
  height: auto;
  container-type: inline-size;
  container-name: card;

}

:host:hover {

  
}

.card-container {
  cursor: zoom-in;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 400px;

  background-color: var(--background-primary);

  container-type: inline-size;



  padding: var(--spacing-large);
  color: var(--foreground-primary);

  gap: var(--spacing-large);
  align-items: flex-start;
  justify-content: flex-start;
  border: transparent;

  overflow: hidden;


  &:hover {
    outline: 1px solid var(--border-brand-hover);

    .icon-button {
      font-variation-settings:

        "GRAD" 100,
       
    }
    ::slotted([slot="icon-box"]) {
     
  font-variation-settings:
  'GRAD' 200,
  'FILL' 0;
    }
   

  }
}

&:active {
  transition: 100ms;
  perspective: 100px;
  transform: scaleZ(20%);
}






.card-title {
  display: flex;
  flex: 1 0 0;
  text-wrap: balance;
  font-size: var(--text-body-lg-size);
  line-height: var(--text-body-lg-line-height);
  font-weight: var(--text-body-weight);




}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-self: stretch;
  gap: var(--spacing-large);
}



p {
  color: var(--foreground-onEmphasis);
  font-family: var(--body-medium-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-medium-font-size, 18px);
  line-height: var(--body-medium-line-height);
  font-weight: var(--body-medium-font-weight, 400);
}



dialog[open] {
  cursor: initial;
  display: flex;
  flex-direction: column;
  color: var(--foreground-primary);
}

dialog::backdrop {
  background-color: rgba(6, 6, 6, 0.3);
}




.content:has(slot:empty) {
  background-color: green;
}



::slotted([slot="thumbnail"]) {

  background-color: var(--background-brand-secondary);
  display: flex;
  aspect-ratio: 4 / 2;
  height: auto;
  width: auto;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;



}

::slotted([slot="thumbnail"]):has(.card-container:hover) {
  color: red;
}





::slotted([slot="icon-box"]) {

  font-variation-settings:
  'GRAD' -200
  ,
  'FILL' 0;
  font-family: var(--icon-font-family);
  font-size: 250px;
  
  overflow: hidden;
  display: flex;
  aspect-ratio: 4 / 2;
  height: auto;
  width: auto;
  align-self: stretch;
  background-color: var(--background-brand-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--foreground-brand-secondary);
  transition: font-variation-settings 200ms ease-out;
  

  span {

    transform: rotate(90deg);
  }


}

@container card (min-width:400px) {
 
  .card-container {
    flex-direction: row-reverse;
    height: auto;
    flex-shrink: 1;
    
  }
  ::slotted([slot="icon-box"]) {
    height: 200px;
    width: 200px;
    
  }
  ::slotted([slot="thumbnail"]){
    height: 200px;
    width: 200px;
    

  }
}
