@import "/style.css";

:host{
 height: 500px;
  ;
  
}
.card-container {
   cursor:zoom-in;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  
  height: 100%;


  justify-content: center;
  container-type: inline-size;

  background-color: var(--background-brand);

  padding: var(--spacing-large);
  display: grid;
  color: var(--foreground-brand);

  gap: var(--spacing-large);
  align-items: flex-start;
  justify-content: flex-start;
border: transparent;

  overflow: hidden;
  

  &:hover {
    outline: 1px solid var(--border-brand-hover);

    .icon-button {
        font-variation-settings:
        
        "GRAD" 100;
    }
  }

  &:active{
    transition: 100ms;
    perspective: 100px;
    transform: scaleZ(20%);
  }

 
}


.title-group{
display: flex;
justify-content: space-between;
gap: var(--spacing-large);
padding-bottom: var(--spacing-xxx-large);
border-bottom: 1px solid var(--border-primary);
position:sticky;
top: 0px;


}



p {
  color: var(--foreground-onEmphasis);
  font-family: var(--body-medium-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-medium-font-size, 18px);
  line-height: var(--body-medium-line-height);
  font-weight: var(--body-medium-font-weight, 400);
}



dialog[open] {
    cursor: initial;
  display: flex;
  flex-direction: column;
  color: var(--foreground-primary);
}

dialog::backdrop {
  background-color: rgba(6, 6, 6, 0.3);
}




.content:has(slot:empty) {
  background-color: green;
}


.myspan{
  grid-column: span 2;
  background-color: purple;
}

::slotted([slot="thumbnail"]) {
  grid-column: span 2;
  background-color: var(--background-brand-secondary);
  width: 100%;
  height: 100%;
}

::slotted([slot="image" ]){
  width: 100%;
  height: 50dvh;
  background-color: var(--background-secondary);
}