*,
*::before,
*::after {
  box-sizing: border-box;
  outline-color: var(--color-border-base);
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--color-border-primary) var(--color-background-page);


}

:is(a) {
  text-decoration: none;
  color: unset;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}


:focus-visible {
  outline: 4px solid var(--color-border-primary-hover);
}



::selection {
  background: var(--color-background-accent-secondary);
  color: var(--color-foreground-accent);
  text-decoration: underline;
  text-decoration-color: var(--color-border-base-emphasis);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-background-page);

}




@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    background: var(--color-background-page);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-border-primary);
    width: 4px;
  }
}

.content {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxxl);
  padding-inline: var(--spacing-xxxl);
  padding-block: var(--spacing-xl);
}

.page-container {

  box-sizing: border-box;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: clamp(350px, 20dvw, 400px) 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-areas:
    "sidebar header"
    "sidebar content"
  ;
  perspective: 1500px;
  max-height: 100dvh;
  /* lock container to viewport height */




  &.detail-page {

    grid-template-areas:
      "sidebar content"
      "sidebar content"
    ;

  }
}

main {
  grid-area: content;
  padding: 24px;
  overflow: auto;
  height: 100%;
  min-height: 0;
  scrollbar-gutter: stable;
}

.page-items {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: min-content;
  gap: var(--spacing-xl);

}

.page-title {
  transform-style: preserve-3d;
  background-color: var(--color-background-page);
  scroll-snap-align: top;
  z-index: 2;
  margin-top: calc(20cqh - 40px);
  color: var(--color-foreground-primary);
  display: flex;
  gap: var(--spacing-md);
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  grid-column: 1 / -1;
  grid-template-rows: subgrid;
  grid-area: header;

  max-width: 1200px;
  position: sticky;
  top: 0px;
  padding: var(--spacing-xl);
  scroll-padding: var(--spacing-xl);
  border-bottom: 1px solid var(--color-border-primary);
  user-select: none;


  .content {
    width: 100%;
    max-width: 100ch;
    text-wrap: balance;
  }
}


.page-detail {
  background-color: var(--color-background-accent3);
  color: var(--color-foreground-accent3);
  padding: var(--spacing-xxl);
  border: 1px solid var(--color-border-accent);
  border-radius: var(--radius-md);

}



figure {

  img {
    max-height: 50dvh;
    object-fit: contain;
  }

  figcaption {
    text-align: center;
    font-size: var(--text-body-md-size);
    color: var(--color-foreground-secondary);
    margin-block: var(--spacing-sm);


  }
}




.gradient {
  height: 100%;
  min-height: 100px;
  width: 100%;
  background: linear-gradient(to right in oklch decreasing hue, var(--color-background-base), var(--color-background-accent));

  &.rgb {
    background: linear-gradient(to right, var(--color-background-base), var(--color-background-accent));
  }

  &.hsl {
    background: linear-gradient(to right in hsl decreasing hue, var(--color-background-base), var(--color-background-accent));
  }
}


.welcome {
  display: grid;
  align-self: center;
  align-items: start;
  text-align: start;
  gap: 5cqh;
  padding-top: 30dvh;
  transform-style: preserve-3d;
  background-color: var(--color-background-page);
  scroll-snap-align: top;
  z-index: 2;
  color: var(--color-foreground-primary);
  width: 100%;
  max-width: 700px;
  top: 0px;
  height: fit-content;



  .body {
    max-width: 50ch;
  }

}






@media screen and (max-width: 800px),
(max-height:500px) {
  body {
    min-height: 100dvh;
  }

  main {
    padding: var(--spacing-lg);
    padding-right: env(safe-area-inset-right, 20px);
    padding-top: 0px;
    padding: 12px;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    overflow: auto;
    height: fit-content;
  }

  .main-content {
    padding: 16px;
    gap: 16px;
  }


  .page-container {

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
      "header"
      "content"
      "sidebar"
    ;
    margin-bottom: env(safe-area-inset-bottom);
  }

  theme-control {
    position: fixed;
    position-anchor: --bottom-nav;
    bottom: calc(anchor(top) + 24px);
    right: 24px;
    width: fit-content;
    z-index: 10;
  }

  @supports not (position-anchor: --bottom-nav) {
    theme-control {
      bottom: calc(var(--bottom-nav-height) + 24px);
      right: 24px;
    }
  }

  @supports not (position-anchor: --bottom-nav) {
    theme-control {
      bottom: calc(var(--bottom-nav-height) + 24px);
      right: 24px;
    }
  }





  .content {

    padding-inline: var(--spacing-lg);
    padding-block: var(--spacing-lg);
  }



  .page-title {
    max-width: none;
    position: initial;
    margin-top: calc(20cqh - 40px);
    padding: var(--spacing-lg) 0px;
  }
}


.welcome-card {
  margin-top: calc(20cqh - 40px);
}