@view-transition {
    navigation: auto;
  }

  ::view-transition-old(content) {
    animation: content-out ease-in-out 600ms;
  }
  
  ::view-transition-new(content) {
    animation: content-in ease-in-out 600ms;
  }
  

  :is(main){
    view-transition-name: content;
  }
  
  body {
    view-transition-name: page;
  }


::view-transition-group(page) {
    animation-duration: 600ms;
  
  }