:host {
  grid-area: sidebar;
  flex-grow: 1;
  width: auto;
  z-index: 20;
  background: inherit;
  height: 100dvh;




}

.quick-theme{
  opacity: 0.9;
  filter:saturate(0.9);
 transition: filter 300ms,opacity 300ms;

 &:hover{
  opacity:1;
  filter:saturate(1);
    opacity: 1;
   
 }
}

.sidebar {
  overflow: hidden;

  scrollbar-width: thin;
  scrollbar-gutter: stable;
  position: sticky;
  top: 0px;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  padding: var(--spacing-x-large);
  
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr auto;
  gap: var(--spacing-large);

  grid-template-areas:
    "title "
   
    "nav-group"
    "theme-slider"
    "settings"
    
  ;
  border-right: 1px solid var(--border-secondary);
  box-sizing: border-box;

  menu {
    width: 100%;
    gap: var(--spacing-small);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    grid-area: nav-group;
    list-style-type: none;
    justify-content: center;

    /* Remove bullet points */
    padding: 0;
    /* Remove padding */
    margin: 0;

    li {}
  }


  h2 {
    margin: 0px;
    line-height: 40px;
  }
}

.divider {
  border-top: 1px solid var(--border-secondary);
  grid-area: divider;
}


/* Customize the default animation behavior */


/* Create a custom animation */




.nav-card {
  
  box-sizing: border-box;
  color: var(--foreground-secondary);
  height: clamp(50px, 10cqh, 80px);
  display: flex;
  padding: var(--spacing-x-large, 24px) var(--spacing-large, 16px);
  align-items: center;
  gap: var(--spacing-medium);
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  -webkit-user-select: none;
  user-select: none;
  background: inherit;
  border: 1px solid transparent;
  cursor: pointer;




  &:hover:not(.active) {
    background-color: var(--border-primary-hover);


  }

  
}

.active {
  background: var(--background-brand);
  font-variation-settings: 'GRAD' 100;
  color: var(--foreground-brand);

  .icon {
    
    font-variation-settings:
      "FILL" 1,

      "GRAD" 100;
  }
}

@keyframes active-item-in {
  from{
    outline: 4px var(--background-brand) solid;
    outline-color: var(--background-brand);
  }

  to {
   outline: 0px var(--background-brand) solid;
   outline-color: var(--background-brand);
    
  }
  
}


.title-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-end;

  position: relative;
  font-family: var(--text-font-family);
  transition: all 100ms;
}


.title,
.description {
  text-align: left;
  position: relative;
}

.title {
  font-weight: var(--text-body-weight);
  font-size: var(--text-body-lg-size);
  line-height: var(--text-body-lg-line-height);
}

.description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.icon {
  font-family: var(--icon-font-family, "Material Symbols Sharp");
  font-size: var(--icon-size-large);
  font-style: normal;
  font-weight: var(--icon-weight-large, 500);
  line-height: 100%;

  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0;
}

.item2 {
  grid-area: item2;
}

.item1 {
  grid-area: item1;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

theme-slider{
  grid-area:theme-slider;
}


.title {
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-area: title;
}

.site-title {
  font-size: var(--text-heading-sm-size);
  font-weight: var(--text-heading-weight);
  font-variation-settings:
    'GRAD' 150;

  &:hover {}
}
@media screen and (max-width: 900px) {
  :host{
    width: 300px;
  }
  .sidebar {
   
    width: 300px;
  }
  
}


@media screen and (max-width: 800px),(max-height:500px) {
  :host {
    height: fit-content;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    padding: 0px;
    padding-bottom: env(safe-area-inset-bottom);
  }

  site-settings {
    position: fixed;
    top: 24px;
    right: 24px;
    width: auto;
  }

  .nav-card {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    background: transparent;
color: var(--foreground-tertiary);
    flex-grow: 1;
    padding: 8px 2px 12px 2px;
    flex-direction: column;
    gap: var(--spacing-small);
    border-color: transparent;
    height: fit-content;
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */

    &:hover:not(.active) {
      background-color: transparent;
  
  
    }

   
  }

  .active {

    border-color: transparent;
    color: var(--foreground-brand);


  }

  :is(.description, theme-slider) {
    display: none;
  }

  .page-title h1 {
    font-size: var(--text-heading-size-small);
  }

  .title {
    font-size:  12px;
    line-height:120%;
  }

  .icon {
    font-size: var(--icon-size-large);
  }

  .nav-item-group {
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 100%;
  }

  .nav-item-group {
    flex-direction: row;
  }

  .sidebar {
    width: 100%;
    padding: 0px;

    height: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "nav-group";
    grid-template-rows: 1fr;

    gap: 0px;
    width: auto;
    border-radius: 0px;
    border: none;
    border-top: 1px solid var(--border-secondary);

    .divider {
      display: none;
    }

    menu {
      animation: none;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-self: stretch;
      gap: 0px;

      li {
        justify-self: stretch;
        height: fit-content;
      }
    }



    .site-title {
      display: none;
    }
  }
}