:host {
  grid-area: sidebar;
  flex-grow: 1;
}

.sidebar {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  padding: var(--spacing-x-large);
  grid-template-columns: 1fr auto;
  grid-template-rows: 114px auto auto auto 1fr;
  gap: var(--spacing-large);
  grid-auto-flow: row;
  grid-template-areas:
    "title settings"
    "item1 item1"
    "item2 item2"
    "item3 item3"
    ". .";
  align-items: top;
  border-right: 1px solid var(--container-border-primary);
  background-color: var(--container-background-primary);

  h2 {
    margin: 0px;
    line-height: 40px;
  }
}

.nav-card {
  box-sizing: border-box;
  height: 80px;
  display: flex;
  padding: var(--spacing-large);
  align-items: center;
  gap: var(--spacing-large);
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  -webkit-user-select: none;
  user-select: none;
  border-radius: var(--radius-small);
  cursor: pointer;
  color: var(--container-foreground-secondary);

  

  &:hover:not(.active) {
    filter: var(--hover);
  }
}

.active {
  background: var(--container-background-secondary);

  color: var(--container-foreground-primary);

  .icon {
    color: var(--container-foreground-brand);
  }
}

.title-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-end;

  position: relative;
  font-family: var(--text-font-family);
  transition: all 100ms;
}

.title,
.description {
  text-align: left;
  position: relative;
}

.title {
  font-size: var(--text-body-large);
  line-height: 100%;
  font-weight: 500;
}

.description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.icon {
  font-family: var(--icon-font-family, "Material Symbols Sharp");
  font-size: var(--icon-size-large);
  font-style: normal;
  font-weight: var(--icon-weight-large, 500);
  line-height: 100%;

  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0;
}

.item2 {
  grid-area: item2;
}

.item1 {
  grid-area: item1;
}

.item3 {
  grid-area: item3;
}

.title {
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-area: title;
}

.site-title {
  font-size: var(--text-heading-size-small);
  font-weight: 400;

  &:hover{
    cursor: pointer;

  }
}

@media screen and (max-width: 900px) {
  :host {
    height: auto;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    padding: 0px;
  }

  .nav-card {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 56px;

    flex-grow: 1;

    padding: 0px;
    flex-direction: column;
    gap: 4px;
    border-color: transparent;
    background: transparent;
  }

  .active {
    border-color: transparent;

    color: var(--foreground-brand);

    .icon {
      color: var(--foreground-brand);
    }
  }

  .description {
    display: none;
  }

  .page-title h1 {
    font-size: var(--text-heading-size-small);
  }

  .title {
    font-size: 12px;
  }

  .icon {
    font-size: var(--icon-size-large);
  }

  .nav-item-group {
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 100%;
  }

  .nav-item-group {
    flex-direction: row;
  }
site-settings{
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 100;
  width: auto;
}
  .sidebar {
    padding: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "item1 item2 item3";
    display: flex;

    flex-direction: row;
    padding: 12px 16px 16px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: auto;
    border-radius: 0px;
    border: none;
    background-color: var(--container-background-primary);
    border-top: 1px solid var(--container-border-primary);

    .site-title {
      display: none;
    }
  }
}
