*,
*::before,
*::after {
  box-sizing: border-box;
  outline-color: var(--border-brand);
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--border-primary) var(--background-page);


}

a {
  all: unset;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}


:focus-visible {
  outline: 4px solid var(--border-primary-hover);
}

::selection {
  background: var(--background-accent-secondary);
  color: var(--foreground-accent);
  text-decoration: underline;
  text-decoration-color: var(--border-brand-emphasis);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background-page);

}




@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    background: var(--background-page);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border-primary);
    width: 4px;
  }
}

.content {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxx-large);
  padding-inline: var(--spacing-xxx-large);
  padding-block: var(--spacing-x-large);
}

.page-container {
  overflow: hidden;
  box-sizing: border-box;
  height: 100dvh;
  display: grid;
  grid-template-columns: clamp(300px, 20dvw, 400px) 1fr;

  perspective: 1500px;
  grid-template-areas: "sidebar main-content";
}




.page-title {
  transform-style: preserve-3d;
  background-color: var(--background-page);
  scroll-snap-align: top;
  z-index: 2;
  margin-top: calc(20cqh - 40px);
  color: var(--foreground-primary);
  display: flex;
  gap: var(--spacing-medium);
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin-inline: -40px;
  grid-template-rows: subgrid;
  grid-column: span 3;
  max-width: 1200px;
  position: sticky;
  top: 0px;
  padding: var(--spacing-x-large);
  scroll-padding: var(--spacing-x-large);
  border-bottom: 1px solid var(--border-primary);
  user-select: none;

  .content {
    width: 100%;
    max-width: 100ch;
    text-wrap: balance;
  }
}

main {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-area: main-content;
  container-name: main-content;
  container-type: inline-size;


  align-items: center;
  padding: var(--spacing-x-large);
  padding-top: 0px;
  gap: var(--spacing-xxx-large);
  transform-style: preserve-3d;
  transform-origin: 0% 0%;

}

.page-items {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  align-items: center;
  gap: var(--spacing-xx-large);
  max-width: 1200px;
  padding: var(--spacing-x-large);
  perspective: 1000px;
  transform-style: preserve-3d;

  &.ordered {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  &.flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}



.gradient {
  height: 100%;
  min-height: 100px;
  width: 100%;
  background: linear-gradient(to right in oklch decreasing hue, var(--background-brand) , var(--background-accent));

  &.rgb{
    background: linear-gradient(to right , var(--background-brand) , var(--background-accent));
  }
  &.hsl{
    background: linear-gradient(to right in hsl decreasing hue, var(--background-brand) , var(--background-accent));
  }
}


.welcome {
  display: grid;
  grid-template-rows: 30cqh auto auto auto;
  align-self: center;
  align-items: start;
  text-align: start;
  gap: var(--spacing-large);
  padding: var(--spacing-x-large);
  padding-block: 40cqh;
  transform-style: preserve-3d;
  background-color: var(--background-page);
  scroll-snap-align: top;
  z-index: 2;
  color: var(--foreground-primary);
  width: 100%;
  top: 0px;
  height: fit-content;

  max-width: 1200px;

  .body {
    max-width: 50ch;
  }

}




@media screen and (max-width: 800px),
(max-height:500px) {
  body {
    height: 100dvh;
    ;
  }

  main {
    padding: var(--spacing-large);
    padding-right: env(safe-area-inset-right, 20px);
    padding-top: 0px;
    padding: 12px;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .main-content {
    padding: 16px;
    gap: 16px;
  }

  .page-container {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "title"
      "main-content"
      "sidebar";
    margin-bottom: env(safe-area-inset-bottom);
  }

  

  .page-items {
    grid-template-columns: 1fr;
    padding: 0px;
  }

  .content {

    padding-inline: var(--spacing-large);
    padding-block: var(--spacing-large);
  }



  .page-title {
    max-width: none;
    position: initial;
    margin-top: calc(20cqh - 40px);
    padding: var(--spacing-large) 0px;
  }
}


.welcome-card {
  margin-top: calc(20cqh - 40px);
}