form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  gap: var(--spacing-sm);
  color: var(--color-background-base);
}







img {
  max-height: 70dvh;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0.99;
  object-fit: cover;
  overflow: hidden;
  filter:brightness(0.95);
  

  
}



model-viewer {
  min-height: 120px;
  max-height: 100%;
  width: 100%;
}





 @property --ty {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
@property --tilt {
  syntax: "<angle>";
  initial-value: 30deg;
  inherits: false;
}
     @keyframes scrollAnim {
  from { --ty: 0.5;    --tilt: 45deg; }
  to   { --ty: -0.5;  --tilt: 120deg; }
}
model-viewer {
  view-timeline-name: --mv;
  view-timeline-axis: block;
  animation: scrollAnim linear both;
  animation-timeline: --mv;
  animation-range: entry 0% exit 100%;
}



















.full-row {
  display: flex;
  flex-direction: column;
  width: inherit;
  grid-column: 1 / -1;
  align-items: center;

}













@container style(--current-color-scheme: dark) {
  body {
    --text-heading-grade: 100;
    --text-body-weight: 450;
    --base-chroma-base: 2;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --text-heading-grade: 100;
    --text-body-weight: 450;
    --base-chroma-base: 2;
  }
}

@media screen and (max-height: 700px) {
  .page-title {
    position: initial;
  }
}



@media screen and (max-width: 600px) {
  main {
    scroll-snap-type: y mandatory;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    scroll-padding: 0;

    * {
      scroll-snap-align: center;
    }
  }
}

body {
  container-name: page;
  container-type: inline-size;
}

