
@property --base-hue {
  syntax: '<angle>';
  initial-value: 210deg;
  inherits: false;
}

@property --base-radius {
  syntax: '<length>';
  initial-value: 0px;
  inherits: true;
}

@property --stimulation-level {
  syntax: '<number>';
  initial-value: 1.5;
  inherits: true;
}


@property --text-heading-width {
  syntax: '<number>';
  initial-value: 115;
  inherits: true;
}

@property --text-heading-grade {
  syntax: '<number>';
  initial-value: 115;
  inherits: true;
}






/*====================================
   Root Variables
====================================*/
:root {

  /*------------------------------------
    Layout & Containers
  ------------------------------------*/
  --viewport-lg: 800px;
  --dialog-width: clamp(300px, 80dvw, 1200px);
  --bottom-nav-height: 80px;

  /*------------------------------------
    Typography Scale
  ------------------------------------*/
  --font-size-1: clamp(0.64rem, -0.02vi + 0.64rem, 0.63rem);
  --font-size-2: clamp(0.8rem, 0.12vi + 0.77rem, 0.84rem);
  --font-size-3: clamp(1rem, 0.33vi + 0.92rem, 1.13rem);
  --font-size-4: clamp(1.25rem, 0.67vi + 1.08rem, 1.5rem);
  --font-size-5: clamp(1.56rem, 1.16vi + 1.27rem, 2rem);
  --font-size-6: clamp(1.95rem, 1.9vi + 1.48rem, 2.66rem);
  --font-size-7: clamp(2.44rem, 2.96vi + 1.7rem, 3.55rem);
  --font-size-8: clamp(3.05rem, 4.49vi + 1.93rem, 4.73rem);
  --font-size-9: clamp(3.81rem, 6.66vi + 2.15rem, 6.31rem);
  --font-size-10: clamp(4.77rem, 9.72vi + 2.34rem, 8.41rem);
  /*------------------------------------
    Typography – Headings
  ------------------------------------*/
  --text-heading-weight: 550;
  --text-heading-font-family: "Roboto Flex";
  --text-heading-grade: 100;
  --text-heading-width: 125;
  --text-heading-xl-size: var(--font-size-9);
  --text-heading-xl-line-height: 110%;
  --text-heading-lg-size: var(--font-size-7);
  --text-heading-lg-line-height: 110%;
  --text-heading-md-size: var(--font-size-6);
  --text-heading-md-line-height: var(--font-size-7);
  --text-heading-sm-size: var(--font-size-5);
  --text-heading-sm-line-height: var(--font-size-6);

  /*------------------------------------
    Typography – Body Text
  ------------------------------------*/
  --text-body-font-family: "Roboto Flex";
  --text-body-weight: 400;
  --text-body-lg-size: var(--font-size-4);
  --text-body-lg-line-height: var(--font-size-5);
  --text-body-md-size: var(--font-size-3);
  --text-body-md-line-height: var(--font-size-4);
  --text-body-sm-size: var(--font-size-2);
  --text-body-sm-line-height: var(--font-size-3);
  --text-body-xs-size: var(--font-size-1);
  --text-body-xs-line-height: var(--font-size-2);

  /*------------------------------------
    Icon Settings
  ------------------------------------*/
  --icon-font-family: "Material Symbols Sharp";
  --icon-size-xl: var(--font-size-6);
  --icon-size-large: var(--font-size-5);
  --icon-size-medium: var(--font-size-4);
  --icon-size-small: var(--font-size-3);
  --icon-weight-large: 500;
  --icon-weight-medium: 400;
  --icon-weight-small: 300;
  --icon-fill: 1;
  --icon-grade: 0;
  --icon-grade-emphasis: 100;

  /*------------------------------------
    Radii
  ------------------------------------*/
  --base-radius: calc(var(--stimulation-level) * 5px);
  --radius-none: 0px;
  --radius-small: calc(var(--base-radius) * 4);
  --radius-medium: calc(var(--base-radius) * 8);
  --radius-large: calc(var(--base-radius) * 16);


  /*------------------------------------
    Spacing
  ------------------------------------*/
  --spacing-none: 0px;
  --spacing-x-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 16px;
  --spacing-x-large: 24px;
  --spacing-xx-large: 32px;
  --spacing-xxx-large: 40px;

  /* Base gap unit */
  --gap-base: 1;

  /*------------------------------------
    Gaps
  ------------------------------------*/
  --gap-none: calc(var(--spacing-none) * var(--gap-base));
  --gap-x-small: calc(var(--spacing-x-small) * var(--gap-base));
  --gap-small: calc(var(--spacing-small) * var(--gap-base));
  --gap-medium: calc(var(--spacing-medium) * var(--gap-base));
  --gap-large: calc(var(--spacing-large) * var(--gap-base));
  --gap-x-large: calc(var(--spacing-x-large) * var(--gap-base));
  --gap-xx-large: calc(var(--spacing-xx-large) * var(--gap-base));
  --gap-xxx-large: calc(var(--spacing-xxx-large) * var(--gap-base));

  /*------------------------------------
    Animation & Timing
  ------------------------------------*/
  --amplitude: 1;
  /* Initial strength */
  --damping: 2;
  /* Damping coefficient */
  --frequency: 8;
  /* Angular frequency */
  --duration: 1s;
  --timing-duration: 800ms;
  --timing-decelerate: linear(0,
      0.006,
      0.055,
      0.162,
      0.265,
      0.361,
      0.447,
      0.521,
      0.583,
      0.638,
      0.687,
      0.729,
      0.764,
      0.795,
      0.823,
      0.848,
      0.867,
      0.884,
      0.899,
      0.914,
      0.924,
      0.934,
      0.943,
      0.95,
      0.957,
      0.962,
      0.967,
      0.972,
      0.976,
      0.979,
      0.982,
      0.984,
      0.986,
      0.988,
      0.99,
      0.991,
      0.992,
      0.993,
      0.994,
      0.995,
      0.996,
      0.996,
      0.997,
      0.997,
      0.997,
      0.998,
      0.998,
      0.998,
      0.999,
      0.999,
      0.999,
      0.999,
      1);
  --timing-bounce: linear(0,
      0.009,
      0.035 2.1%,
      0.141,
      0.281 6.7%,
      0.723 12.9%,
      0.938 16.7%,
      1.017,
      1.077,
      1.121,
      1.149 24.3%,
      1.159,
      1.163,
      1.161,
      1.154 29.9%,
      1.129 32.8%,
      1.051 39.6%,
      1.017 43.1%,
      0.991,
      0.977 51%,
      0.974 53.8%,
      0.975 57.1%,
      0.997 69.8%,
      1.003 76.9%,
      1.004 83.8%,
      1);
  /* Brand Hue Definitions */
  --base-hue: 230deg;
  /* set this to your brand’s base hue angle */
  /* transition: --base-hue 200ms ease-in-out;
  transition-property: --contrast, --text-heading-grade, --text-heading-width, --base-hue, --base-radius, --spacing-base, --gap-base, --chroma-base, --hue-offset-base; */









  /* Brand with Alpha */
  --alpha: 0.4;
  --base-5-alpha: oklch(var(--lightness-5) var(--chroma-5) var(--base-hue) / var(--alpha));
  --base-10-alpha: oklch(var(--lightness-10) var(--chroma-10) var(--base-hue) / var(--alpha));
  --base-20-alpha: oklch(var(--lightness-20) var(--chroma-20) var(--base-hue) / var(--alpha));
  --base-30-alpha: oklch(var(--lightness-30) var(--chroma-30) var(--base-hue) / var(--alpha));
  --base-40-alpha: oklch(var(--lightness-40) var(--chroma-40) var(--base-hue) / var(--alpha));
  --base-50-alpha: oklch(var(--lightness-50) var(--chroma-50) var(--base-hue) / var(--alpha));
  --base-60-alpha: oklch(var(--lightness-60) var(--chroma-60) var(--base-hue) / var(--alpha));
  --base-70-alpha: oklch(var(--lightness-70) var(--chroma-70) var(--base-hue) / var(--alpha));
  --base-80-alpha: oklch(var(--lightness-80) var(--chroma-80) var(--base-hue) / var(--alpha));
  --base-90-alpha: oklch(var(--lightness-90) var(--chroma-90) var(--base-hue) / var(--alpha));
  --base-95-alpha: oklch(var(--lightness-95) var(--chroma-95) var(--base-hue) / var(--alpha));

  /*------------------------------------
    Color – Neutral (Gray) Palette
  ------------------------------------*/
  --white: white;










  --stimulation-level: 0.7;


  --x5: 0.037;
  --x10: 0.074;
  --x20: 0.147;
  --x30: 0.221;
  --x40: 0.295;
  --x50: 0.368;
  --x60: 0.442;
  --x70: 0.516;
  --x80: 0.589;
  --x90: 0.663;
  --x95: 0.700;

  /*------------------------------------
    Chroma Scale (mirrors lightness scale)
  ------------------------------------*/
  --chroma-base-val: calc(var(--stimulation-level) * 0.3);
  --chroma-scale-5: calc(var(--chroma-base-val) * 0.1);
  --chroma-scale-10: calc(var(--chroma-base-val) * 0.2);
  --chroma-scale-20: calc(var(--chroma-base-val) * 0.4);
  --chroma-scale-30: calc(var(--chroma-base-val) * 0.6);
  --chroma-scale-40: calc(var(--chroma-base-val) * 0.8);
  --chroma-scale-50: var(--chroma-base-val);
  --chroma-scale-60: calc(var(--chroma-base-val) * 0.8);
  --chroma-scale-70: calc(var(--chroma-base-val) * 0.6);
  --chroma-scale-80: calc(var(--chroma-base-val) * 0.4);
  --chroma-scale-90: calc(var(--chroma-base-val) * 0.2);
  --chroma-scale-95: calc(var(--chroma-base-val) * 0.1);

  --a: calc(var(--stimulation-level) *2);

 
  --lightness-5: calc(pow(calc(1 - var(--x5)), var(--a)) / (pow(calc(1 - var(--x5)), var(--a)) + pow(var(--x5), var(--a))));
  --lightness-10: calc(pow(calc(1 - var(--x10)), var(--a)) / (pow(calc(1 - var(--x10)), var(--a)) + pow(var(--x10), var(--a))));
  --lightness-20: calc(pow(calc(1 - var(--x20)), var(--a)) / (pow(calc(1 - var(--x20)), var(--a)) + pow(var(--x20), var(--a))));
  --lightness-30: calc(pow(calc(1 - var(--x30)), var(--a)) / (pow(calc(1 - var(--x30)), var(--a)) + pow(var(--x30), var(--a))));
  --lightness-40: calc(pow(calc(1 - var(--x40)), var(--a)) / (pow(calc(1 - var(--x40)), var(--a)) + pow(var(--x40), var(--a))));
  --lightness-50: calc(pow(calc(1 - var(--x50)), var(--a)) / (pow(calc(1 - var(--x50)), var(--a)) + pow(var(--x50), var(--a))));
  --lightness-60: calc(pow(calc(1 - var(--x60)), var(--a)) / (pow(calc(1 - var(--x60)), var(--a)) + pow(var(--x60), var(--a))));
  --lightness-70: calc(pow(calc(1 - var(--x70)), var(--a)) / (pow(calc(1 - var(--x70)), var(--a)) + pow(var(--x70), var(--a))));
  --lightness-80: calc(pow(calc(1 - var(--x80)), var(--a)) / (pow(calc(1 - var(--x80)), var(--a)) + pow(var(--x80), var(--a))));
  --lightness-90: calc(pow(calc(1 - var(--x90)), var(--a)) / (pow(calc(1 - var(--x90)), var(--a)) + pow(var(--x90), var(--a))));
  --lightness-95: calc(pow(calc(1 - var(--x95)), var(--a)) / (pow(calc(1 - var(--x95)), var(--a)) + pow(var(--x95), var(--a))));
  --lightness-100: calc(pow(calc(1 - var(--x100)), var(--a)) / (pow(calc(1 - var(--x100)), var(--a)) + pow(var(--x100), var(--a))));




  /* HUE */
  --hue-spread: calc(var(--stimulation-level) * 60deg);
  --base-hue: 220deg;
  --base-hue-val: var(--base-hue);
  --accent-hue-val: calc(var(--base-hue) + (var(--hue-spread) * 2));
  --accent2-hue-val: calc(var(--base-hue) + (var(--hue-spread) * 1.6));
  --accent3-hue-val: calc(var(--base-hue) + (var(--hue-spread) * 1.3));






  /* BASE COLOR SHADES - Using lightness and chroma/hue variables */
  --base-5: oklch(var(--lightness-5) var(--chroma-scale-5) var(--base-hue-val));
  --base-10: oklch(var(--lightness-10) var(--chroma-scale-10) var(--base-hue-val));
  --base-20: oklch(var(--lightness-20) var(--chroma-scale-10) var(--base-hue-val));
  --base-30: oklch(var(--lightness-30) var(--chroma-scale-30) var(--base-hue-val));
  --base-40: oklch(var(--lightness-40) var(--chroma-scale-40) var(--base-hue-val));
  --base-50: oklch(var(--lightness-50) var(--chroma-scale-50) var(--base-hue-val));
  --base-60: oklch(var(--lightness-60) var(--chroma-scale-60) var(--base-hue-val));
  --base-70: oklch(var(--lightness-70) var(--chroma-scale-70) var(--base-hue-val));
  --base-80: oklch(var(--lightness-80) var(--chroma-scale-80) var(--base-hue-val));
  --base-90: oklch(var(--lightness-90) var(--chroma-scale-90) var(--base-hue-val));
  --base-95: oklch(var(--lightness-95) var(--chroma-scale-95) var(--base-hue-val));

  /* ACCENT1 COLOR SHADES - Using lightness and chroma/hue variables */
  --accent-5: oklch(var(--lightness-5) var(--chroma-scale-5) var(--accent-hue-val));
  --accent-10: oklch(var(--lightness-10) var(--chroma-scale-10) var(--accent-hue-val));
  --accent-20: oklch(var(--lightness-20) var(--chroma-scale-20) var(--accent-hue-val));
  --accent-30: oklch(var(--lightness-30) var(--chroma-scale-30) var(--accent-hue-val));
  --accent-40: oklch(var(--lightness-40) var(--chroma-scale-40) var(--accent-hue-val));
  --accent-50: oklch(var(--lightness-50) var(--chroma-scale-50) var(--accent-hue-val));
  --accent-60: oklch(var(--lightness-60) var(--chroma-scale-60) var(--accent-hue-val));
  --accent-70: oklch(var(--lightness-70) var(--chroma-scale-70) var(--accent-hue-val));
  --accent-80: oklch(var(--lightness-80) var(--chroma-scale-80) var(--accent-hue-val));
  --accent-90: oklch(var(--lightness-90) var(--chroma-scale-90) var(--accent-hue-val));
  --accent-95: oklch(var(--lightness-95) var(--chroma-scale-95) var(--accent-hue-val));

  /* ACCENT2 COLOR SHADES - Using lightness and chroma/hue variables */
  --accent2-5: oklch(var(--lightness-5) var(--chroma-scale-5) var(--accent2-hue-val));
  --accent2-10: oklch(var(--lightness-10) var(--chroma-scale-10) var(--accent2-hue-val));
  --accent2-20: oklch(var(--lightness-20) var(--chroma-scale-20) var(--accent2-hue-val));
  --accent2-30: oklch(var(--lightness-30) var(--chroma-scale-30) var(--accent2-hue-val));
  --accent2-40: oklch(var(--lightness-40) var(--chroma-scale-40) var(--accent2-hue-val));
  --accent2-50: oklch(var(--lightness-50) var(--chroma-scale-50) var(--accent2-hue-val));
  --accent2-60: oklch(var(--lightness-60) var(--chroma-scale-60) var(--accent2-hue-val));
  --accent2-70: oklch(var(--lightness-70) var(--chroma-scale-70) var(--accent2-hue-val));
  --accent2-80: oklch(var(--lightness-80) var(--chroma-scale-80) var(--accent2-hue-val));
  --accent2-90: oklch(var(--lightness-90) var(--chroma-scale-90) var(--accent2-hue-val));
  --accent2-95: oklch(var(--lightness-95) var(--chroma-scale-95) var(--accent2-hue-val));

  /* ACCENT3 COLOR SHADES - Using lightness and chroma/hue variables */
  --accent3-5: oklch(var(--lightness-5) var(--chroma-scale-5) var(--accent3-hue-val));
  --accent3-10: oklch(var(--lightness-10) var(--chroma-scale-10) var(--accent3-hue-val));
  --accent3-20: oklch(var(--lightness-20) var(--chroma-scale-20) var(--accent3-hue-val));
  --accent3-30: oklch(var(--lightness-30) var(--chroma-scale-30) var(--accent3-hue-val));
  --accent3-40: oklch(var(--lightness-40) var(--chroma-scale-40) var(--accent3-hue-val));
  --accent3-50: oklch(var(--lightness-50) var(--chroma-scale-50) var(--accent3-hue-val));
  --accent3-60: oklch(var(--lightness-60) var(--chroma-scale-60) var(--accent3-hue-val));
  --accent3-70: oklch(var(--lightness-70) var(--chroma-scale-70) var(--accent3-hue-val));
  --accent3-80: oklch(var(--lightness-80) var(--chroma-scale-80) var(--accent3-hue-val));
  --accent3-90: oklch(var(--lightness-90) var(--chroma-scale-90) var(--accent3-hue-val));
  --accent3-95: oklch(var(--lightness-95) var(--chroma-scale-95) var(--accent3-hue-val));

  /* Neutral / Gray */
  --gray-hue: calc(var(--base-hue) + 30deg);
  --gray-chroma: calc(var(--chroma-base-val) * 0.1);
  --gray-5: oklch(var(--lightness-5) var(--gray-chroma) var(--gray-hue));
  --gray-10: oklch(var(--lightness-10) var(--gray-chroma) var(--gray-hue));
  --gray-20: oklch(var(--lightness-20) var(--gray-chroma) var(--gray-hue));
  --gray-30: oklch(var(--lightness-30) var(--gray-chroma) var(--gray-hue));
  --gray-40: oklch(var(--lightness-40) var(--gray-chroma) var(--gray-hue));
  --gray-50: oklch(var(--lightness-50) var(--gray-chroma) var(--gray-hue));
  --gray-60: oklch(var(--lightness-60) var(--gray-chroma) var(--gray-hue));
  --gray-70: oklch(var(--lightness-70) var(--gray-chroma) var(--gray-hue));
  --gray-80: oklch(var(--lightness-80) var(--gray-chroma) var(--gray-hue));
  --gray-90: oklch(var(--lightness-90) var(--gray-chroma) var(--gray-hue));
  --gray-95: oklch(var(--lightness-95) var(--gray-chroma) var(--gray-hue));

  /* Gray with Alpha */
  --gray-5-alpha: oklch(var(--lightness-5) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-10-alpha: oklch(var(--lightness-10) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-20-alpha: oklch(var(--lightness-20) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-30-alpha: oklch(var(--lightness-30) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-40-alpha: oklch(var(--lightness-40) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-50-alpha: oklch(var(--lightness-50) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-60-alpha: oklch(var(--lightness-60) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-70-alpha: oklch(var(--lightness-70) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-80-alpha: oklch(var(--lightness-80) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-90-alpha: oklch(var(--lightness-90) var(--gray-chroma) var(--gray-hue) / var(--alpha));
  --gray-95-alpha: oklch(var(--lightness-95) var(--gray-chroma) var(--gray-hue) / var(--alpha));


  /* Alternative approach using more refined exponential scaling */
  /* You could also use these formulas for more controlled scaling: */


  /*------------------------------------
    Color System
  ------------------------------------*/
  --current-color-scheme: light dark;
  color-scheme: var(--current-color-scheme);

  /* Background Colors */
  --background-page: light-dark(var(--white), var(--gray-95));
  --background-primary: light-dark(var(--gray-10), var(--gray-90));
  --background-secondary: light-dark(var(--gray-20), var(--gray-80));
  --background-base: light-dark(var(--base-20), var(--base-80));
  --background-base-hover: light-dark(var(--base-10), var(--base-80));
  --background-base-emphasis: light-dark(var(--base-30), var(--base-70));
  --background-accent: light-dark(var(--accent-20), var(--accent-80));
  --background-accent-emphasis: light-dark(var(--accent-30), var(--accent-70));
  --background-accent2: light-dark(var(--accent2-20), var(--accent2-80));
  --background-accent2-emphasis: light-dark(var(--accent2-30), var(--accent2-70));
  --background-accent3: light-dark(var(--accent3-20), var(--accent3-80));
  --background-accent3-emphasis: light-dark(var(--accent3-30), var(--accent3-70));
  --background-backdrop: light-dark(var(--gray-20-alpha), var(--gray-50-alpha));

  /* Foreground Colors */
  --foreground-primary: light-dark(var(--gray-95), var(--gray-5));
  --foreground-secondary: light-dark(var(--gray-80), var(--gray-10));
  --foreground-tertiary: light-dark(var(--gray-60), var(--gray-20));
  --foreground-base: light-dark(var(--base-80), var(--base-20));
  --foreground-base-secondary: light-dark(var(--base-30), var(--base-60));
  --foreground-onBrand: light-dark(var(--base-50), var(--base-10));
  --foreground-accent: light-dark(var(--accent-95), var(--accent-20));
  --foreground-accent2: light-dark(var(--accent2-95), var(--accent2-20));
  --foreground-accent3: light-dark(var(--accent3-95), var(--accent3-20));
  --foreground-onEmphasis: light-dark(white, white);

  /* Border Colors */
  --border-primary: light-dark(var(--gray-20), var(--gray-70));
  --border-primary-hover: light-dark(var(--gray-20), var(--gray-60));
  --border-secondary: light-dark(var(--gray-10), var(--gray-60));
  --border-base: light-dark(var(--base-10), var(--base-90));
  --border-base-hover: light-dark(var(--base-20), var(--gray-60));
  --border-base-secondary: light-dark(var(--base-10), var(--base-60));
  --border-base-emphasis: light-dark(var(--base-20), var(--base-80));
  --border-accent: light-dark(var(--accent-10), var(--accent-90));
  --border-accent-emphasis: light-dark(var(--accent-20), var(--accent-80));
  --border-accent2: light-dark(var(--accent2-10), var(--accent2-90));
  --border-accent2-emphasis: light-dark(var(--accent2-20), var(--accent2-80));
  --border-accent3: light-dark(var(--accent3-10), var(--accent3-90));
  --border-accent3-emphasis: light-dark(var(--accent3-20), var(--accent3-80));


  --theme-slider-size: 20px;
  --theme-slider-outline: var(--background-primary);
}

[data-theme="energized"] {
  --stimulation-level: 0.7;
}

[data-theme="balanced"] {
  --stimulation-level: 0.6;
}

[data-theme="calm"] {
  --stimulation-level: 0.5;
}

/*====================================
   High Contrast Mode Overrides
====================================*/
[data-mode="high-contrast"] {

  --background-page: light-dark(var(--white), var(--gray-95));
  --background-primary: light-dark(var(--white), var(--gray-90));
  --background-secondary: light-dark(var(--white), var(--gray-80));
  --background-base: light-dark(var(--base-60), var(--base-60));
  --background-base-secondary: light-dark(var(--base-10), var(--base-80));
  --background-base-emphasis: light-dark(var(--base-70), var(--base-60));
  --background-accent: light-dark(var(--accent-50), var(--accent-70));
  --background-accent-secondary: light-dark(var(--accent-10), var(--accent-80));
  --background-accent-emphasis: light-dark(var(--accent-60), var(--accent-50));
  --background-backdrop: light-dark(var(--gray-80-alpha), var(--gray-30-alpha));

  --foreground-primary: light-dark(var(--gray-95), var(--gray-5));
  --foreground-secondary: light-dark(var(--gray-80), var(--gray-10));
  --foreground-base: light-dark(var(--base-60), var(--base-20));
  --foreground-onBrand: light-dark(var(--white), var(--white));
  --foreground-base-secondary: light-dark(var(--base-60), var(--base-20));
  --foreground-accent: light-dark(var(--accent-10), var(--accent-5));
  --foreground-onEmphasis: light-dark(var(--white), var(--white));

  --border-primary: light-dark(var(--gray-40), var(--gray-40));
  --border-primary-hover: light-dark(var(--gray-20), var(--gray-70));
  --border-secondary: light-dark(var(--gray-30), var(--gray-50));
  --border-base: light-dark(var(--base-50), var(--base-40));
  --border-base-secondary: light-dark(var(--base-30), var(--base-60));
  --border-base-emphasis: light-dark(var(--base-70), var(--base-60));
  --border-base-hover: light-dark(var(--base-40), var(--base-10));
  --border-accent: light-dark(var(--accent-50), var(--accent-40));
}

/*====================================
   Preferred Contrast Overrides
====================================*/
@media (prefers-contrast: more) {
  :root {

    --background-page: light-dark(var(--gray-5), var(--gray-95));
    --background-primary: light-dark(var(--white), var(--gray-90));
    --background-secondary: light-dark(var(--white), var(--gray-80));
    --background-base: light-dark(var(--base-60), var(--base-60));
    --background-base-secondary: light-dark(var(--base-10), var(--base-80));
    --background-base-emphasis: light-dark(var(--base-70), var(--base-60));
    --background-accent: light-dark(var(--accent-30), var(--accent-70));
    --background-accent-secondary: light-dark(var(--accent-10),
        var(--accent-80));
    --background-accent-emphasis: light-dark(var(--accent-60),
        var(--accent-50));
    --background-backdrop: light-dark(var(--gray-80-alpha),
        var(--gray-30-alpha));

    --foreground-primary: light-dark(var(--gray-95), var(--gray-5));
    --foreground-secondary: light-dark(var(--gray-80), var(--gray-10));
    --foreground-base: light-dark(var(--base-60), var(--base-20));
    --foreground-onBrand: light-dark(var(--white), var(--white));
    --foreground-base-secondary: light-dark(var(--base-60), var(--base-20));
    --foreground-accent: light-dark(var(--accent-10), var(--accent-5));
    --foreground-onEmphasis: light-dark(var(--white), var(--white));

    --border-primary: light-dark(var(--gray-40), var(--gray-40));
    --border-primary-hover: light-dark(var(--gray-20), var(--gray-70));
    --border-secondary: light-dark(var(--gray-30), var(--gray-50));
    --border-base: light-dark(var(--base-50), var(--base-40));
    --border-base-secondary: light-dark(var(--base-30), var(--base-60));
    --border-base-emphasis: light-dark(var(--base-70), var(--base-60));
    --border-base-hover: light-dark(var(--base-40), var(--base-10));
    --border-accent: light-dark(var(--accent-50), var(--accent-40));
  }
}

/*====================================
   Container & Additional Styles
====================================*/
html {
  container-name: mypage;
}

@container mypage style(color-scheme: dark) {
  .heading {
    --text-heading-grade: 0;
  }
}

@media (prefers-reduced-transparency) {
  :root {
    --alpha: 0.9;
  }
}