.badge {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    height: 28px;
    background-color: var(--background-accent);
    color: var(--foreground-accent);
    display: flex;
    padding: var(--spacing-x-small, 4px) var(--spacing-small, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-x-small, 4px);
    font-size: var(--text-body-sm-size);
    line-height: var(--text-body-sm-line-height);
    border: 1px solid var(--border-primary);
    box-sizing: border-box;
    user-select: none;

    &.secondary {
        background-color: var(--background-primary-secondary);
        color: var(--foreground-secondary);
        border: 1px solid var(--border-primary);
    
        span {
            color: var(--foreground-accent)
        }
    
        ::slotted {
            text-overflow: ellipsis;
        }
    }

    &.primary {
        background-color: var(--background-accent);
        color: var(--background-accent);
        border: none;
    
    }

    span {
        display: flex;
  align-items: center;
  justify-content: center;
        font-family: var(--icon-font-family);
        font-size: var(--icon-size-small);
        line-height: 100%;
        font-weight: var(--icon-weight-small);
        aspect-ratio: 1/1;
        width: var(--icon-size-small);
        color: var(--foreground-accent);
        font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0;
    }
    

}


.badge-group {
  display: flex;
  gap: var(--spacing-small);
  align-items: end;
}