.card {
  cursor: pointer;
  display: grid;
  
  grid-template-rows: auto 1fr auto;
  height: 100%;
  /* min-height: 300px; */
 
  width: 100%;
  background: var(--color-background-base);
  border: 1px solid var(--color-border-base);
  border-radius: var(--radius-md);

  outline-style: solid;
  outline-width: 0px;
  outline-color: var(--color-border-base);
  container-type: inline-size;
  transition: outline 500ms var(--timing-bounce);
  font-variation-settings: "GRAD" 0;
  color: var(--color-foreground-primary);
  gap: var(--spacing-xl);
  overflow: hidden;
  outline-offset: 0px;
  padding: clamp(var(--spacing-lg), 4cqw, var(--spacing-xxl));
  align-items: start;
  justify-content: start;
  justify-items: start;
  

  img{
    grid-column: -1 /1;
  }

  .icon {
    color: currentColor;
  }

  .title {
    text-wrap: pretty;
    flex: 0 0 0;
    font-size: var(--text-heading-sm-size);
    font-weight: 400;
    grid-column: -1 /1;
    font-variation-settings:
    "wdth" var(--text-heading-width),
    "GRAD" var(--text-heading-grade),
    "XOPQ" 80,
    "YOPQ" 80;
  font-optical-sizing: auto;
  }

  &:hover {
    outline: 4px solid var(--color-border-base);
  }

  &:active {
    outline-width: 16px;
    transition: outline 300ms var(--timing-decelerate);
    perspective: 100px;
    transform: scaleZ(20%);
  }

  &.large {
    grid-column: span 2;

  }

  &.color1 {
    background-color: var(--color-background-base);
    color: var(--color-foreground-base);
    border-color: var(--color-border-base);
    outline-color: var(--color-border-base);
    &.emphasis {
      background-color: var(--color-background-base-emphasis);
      border-color: var(--color-border-base-emphasis);
    }
  }

  &.color2 {
    background-color: var(--color-background-color2);
    color: var(--color-foreground-color2);
    border-color: var(--color-border-color2);
    outline-color: var(--color-border-color2);
    &.emphasis {
      background-color: var(--color-background-color2-emphasis);
      border-color: var(--color-border-color2-emphasis);
    }
  }

  &.color3 {
    background-color: var(--color-background-color3);
    color: var(--color-foreground-color3);
    border-color: var(--color-border-color3);
    outline-color: var(--color-border-color3);
    &.emphasis {
      background-color: var(--color-background-color3-emphasis);
      border-color: var(--color-border-color3-emphasis);
    }
  }

  &.color4 {
    background-color: var(--color-background-color4);
    color: var(--color-foreground-color4);
    border-color: var(--color-border-color4);
    outline-color: var(--color-border-color4);
    &.emphasis {
      background-color: var(--color-background-color4-emphasis);
      border-color: var(--color-border-color4-emphasis);
    }
  }


}



p {

  font-family: var(--body-medium-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-body-lg-size);
  line-height: var(--text-body-lg-line-height);
  font-weight: var(--text-body-weight);
}

.thumbnail {
  max-height: 120px;
  margin-top: calc(-1 * var(--spacing-xxl));
  margin-inline: calc(-1 * var(--spacing-xl));
  overflow: hidden;
  display: block;
  width: auto;
  align-self: stretch;
  background: var(--color-background-base-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-foreground-base-secondary);
  user-select: none;
  -webkit-user-select: none;
}

::slotted(model-viewer) {
  width: 100%;
  height: 100%;
}

::slotted(model-viewer) {
  width: 100%;
  height: 500px;
}

.box {
  --animation-position: 0;
  font-variation-settings: 'GRAD' -200, 'FILL' var(--icon-fill);
  font-family: var(--icon-font-family);
  font-size: 40cqw;
  font-variation-settings:
    'FILL' var(--icon-fill),
    'wght' 700,
    'GRAD' 200;
  overflow: hidden;
  display: flex;
  height: 150px;
  width: auto;
  align-self: stretch;
  background: var(--color-background-color2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-foreground-base-secondary);
  margin-top: calc(-1 * var(--spacing-xxl));
  margin-inline: calc(-1 * var(--spacing-xxl));
  user-select: none;
  -webkit-user-select: none;
}


::slotted([slot="icon-box"]) {
  font-variation-settings: 'GRAD' -200, 'FILL' var(--icon-fill);
  font-family: var(--icon-font-family);
  color: var(--color-background-base-secondary);
  font-size: 50cqw;
  transition: 200ms var(--timing-decelerate);
  transition-property: font-variation-settings;
  rotate: -30deg;
}



::slotted(.post-body) {
  ::slotted(.horizontal) {
    grid-template-columns: 1fr;
  }

}

::slotted([slot="image"]) {
  width: 100%;
  height: 400px;
}

:slotted(model-viewer) {
  height: 400px;
}



.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-height: 90cqh
}

slot[name="post"] {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxxl);
  font-size: var(--body-small-font-size);
  overflow-y: auto;
  flex: 1 1 auto;
  align-items: center;
  width: 100cqw;

  container-type: inline-size;
  container-name: dialog;

}

::slotted([slot="post"]) {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  gap: var(--spacing-xxxl);
  width: 100%;
  align-items: start;
  background-size: cover;
}



::slotted(.grid) {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: 500px;
  grid-auto-rows: minmax(100px, max-content);



}

:has(iframe) {
  ::slotted([slot="post"]) {
    grid-template-columns: 1fr;
  }
}




@media screen (max-width: 400px) {
  ::slotted([slot="post"]) {
    grid-auto-columns: 1fr;
  }

  ::slotted([slot="post"]:has(.figma)) {
    grid-template-columns: 1fr;
  }


}