:host(site-settings) {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  align-self: stretch;
}

.icon {
  font-family: var(--icon-font-family);
}

.radio-buttons {
  display: flex;
  padding: var(--spacing-x-small);
  gap: var(--spacing-x-small);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border: 1px solid var(--border-base);
  background-color: var(--background-base-secondary);
  border-radius: var(--radius-large);
  
}

.radio-button {
  display: flex;
  padding: var(--spacing-small) var(--spacing-medium);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium, 12px);
  align-self: stretch;
  
border-radius: var(--radius-medium);
  font-size: var(--text-body-md-size);
  color: var(--foreground-primary);
  font-family: var(--text-font-family);
  cursor: pointer;
flex: 1;
  z-index: 1;

  -webkit-tap-highlight-color: transparent;



  span {
    justify-content: center;
    align-items: center;
  }

  &:hover:not(.radio-button:has(input:checked)) {
    background-color: var(--background-base-hover);
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
}

.radio-button:has(input:checked) {
  background-color: var(--background-accent);
  color: var(--foreground-accent);
}