.switch {
    height: 48px;
    width: 80px;
    background: var(--background-secondary);
    border: 1px solid var(--border-secondary);
  
    span {
      display: block;
      position: relative;
      left: 8px;
      margin-block: auto;
      width: 24px;
      height: 24px;
      background-color: var(--foreground-secondary);
      height: 24px;
      border: 1px solid transparent;
      transition: right 600ms;
      -webkit-tap-highlight-color: transparent;
    }
  
    &:has(input:checked) {
      background-color: var(--background-brand);
  
      span {
        position: relative;
        right: 4px;
        width: 24px;
        height: 24px;
        background-color: var(--foreground-onEmphasis);
      }
    }
  
    input {
      display: none;
    }
  }