:host(theme-slider){
  display: flex;
}

label {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  gap: var(--spacing-small);
  accent-color: var(--background-brand);
  flex-grow: 1;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: grab;
  margin: 0%;
  flex-grow: 1;
  height: fit-content;
  padding: 8px;
  border: 1px solid var(--border-primary);
  border-radius: 0px;
  anchor-name: --themeSlider;
  &:active {
    cursor: grabbing;
  }

  &.theme {
    background-blend-mode: darken;
    background: linear-gradient(to right,
        oklch(60% 0.2 0),
        oklch(60% 0.2 60),
        oklch(60% 0.2 120),
        oklch(60% 0.2 180),
        oklch(60% 0.2 240),
        oklch(60% 0.2 300),
        oklch(60% 0.2 360));
  }
}


[popover]{
  position-anchor: --themeSlider;
  position: fixed;
  top: auto;
  bottom: calc(anchor(top) + 10px);
  left: anchor(start);
  margin: 0;

}
input[type="range"]::-webkit-slider-thumb {
  
  box-shadow: none;
  transition: transform 200ms, outline-width 500ms, border-width 300ms,height 300ms,width 300ms;

  transition-timing-function: var(--timing-ease);
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  box-shadow: none;
  border-radius: 99px;
  background-color: var(--brand-70);
  width: var(--theme-slider-size);
  outline-color: var(--theme-slider-outline);
  outline-style: solid;
  height: var(--theme-slider-size);
  outline: 4px solid var(--theme-slider-outline);
  
  transform: scale(1);
  
  

}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.3);
  
  background-color: var(--brand-50);
  outline-width: 12px;
  border-width: 0px;
  


}






input[type="range"]:active::-moz-range-thumb {
  transition: transform 300ms, outline-width 300ms, border 300ms;
  transition-duration: 500ms;
  transition-timing-function: var(--timing-ease);
  transform: scale(1.25);
  background-color: var(--brand-50);
  outline: 8px solid var(--theme-slider-outline);
  outline-width: 8px;
  border: none;
  box-shadow: none;
}

input[type=range]::-moz-range-thumb {
  box-shadow: none;
  /* Override default look */
  appearance: none;
  box-shadow: none;
  border-radius: 99px;
  background-color: var(--brand-70);
  margin: 4px;
  outline-color: var(--theme-slider-outline);
  border: 4px solid var(--border-brand);
  cursor: grabbing;
  transform: scale(1.25);
}

@container style(--brand-hue:0) or style(--brand-hue:360) {
  input[type="range"]::-webkit-slider-thumb {
    transition: border-radius 300ms ease;
    border-radius: 0px;
  }
}