
:host {
  perspective: 200px;
  transform-style: preserve-3d;
  
  
}

dialog{
  width: 50dvw;
  --theme-slider-size:40px
}

@supports not (color-scheme: light dark){
  #colorMode{
    display: none ;
  }
}


.pallete-button:active{
  background-color: var(--background-brand-secondary);
  transition: 200ms;
  transition-timing-function: cubic-bezier(0,1.5,1,1.5);
}
@media screen and (max-width: 900px) {
  :host {
    flex-grow: 1;
    width: 100%;
  }
  dialog{
    width: initial;
  }
  .nav-card {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 56px;
    font-weight: 500;

    flex-grow: 1;

    padding: 0px;
    flex-direction: column;
    gap: 4px;
    border-color: transparent;
    background: transparent;
    font-size: 12px;

    &:hover{

    }
  }

  .active {
    border-color: transparent;

    .title {
      color: var(--foreground-primary);
    }
  }

  
 
  .title {
    font-size: 12px;
  }

  .icon {
    font-size: var(--icon-size-medium);
    font-style: normal;
    font-weight: var(--icon-weight-medium);
    line-height: 100%;
  }

  input[type="range"]::-webkit-slider-thumb {
    height: 40px;
    width: 40px;
  }
}

input:where([type="checkbox"][role="switch"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  color: inherit;
  font-size: inherit;
  width: 64px;
  height: 32px;
  box-sizing: content-box;
  border: 1px solid var(--border-secondary);
  background-color: var(--background-secondary);
  vertical-align: text-bottom;
  margin: none;
  transition: all cubic-bezier(0,1,1,1) 300ms;

   
}

input:where([type="checkbox"][role="switch"])::before {
  content: "";
  position: absolute;
  transform-origin: 50%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  background-color: var(--foreground-secondary);
  transition: inherit;
}
input:where([type="checkbox"][role="switch"]):checked{
  background-color: var(--background-brand);
}

input:where([type="checkbox"][role="switch"]):checked::before {
  left: 28px;
  height: 24px;
  width: 24px;
  background-color: var(--foreground-onEmphasis);
}

@container style(--brand-hue:0) or style(--brand-hue:360){
 
  input[type="range"]::-webkit-slider-thumb{
    transition: border-radius 300ms ease;
    border-radius: 0px;
  }
}