 @view-transition {
  navigation: auto;
}

simple-card {
 view-transition-name:dialog;
}

nav{
  view-transition-name:nav;

}

site-settings{
  view-transition-name:settings;

}


::view-transition {
  --base-distance: -100px;
  --transition-duration: 1s;


}




html::view-transition-group(*) {
  animation-duration: 1000ms ;
}




::view-transition-old(content) {
  --distance: var(--base-distance);
  animation: items-out var(--timing-decelerate) var(--transition-duration);

}

::view-transition-new(content) {
  animation: items-in var(--timing-decelerate) var(--transition-duration);
}


::view-transition-group(page) {
  animation-duration: var(--transition-duration);

}


:is(.welcome, .page-title) {
  view-transition-name: content;
}




.page-items> :nth-child(1) {
  view-transition-name: item1;
}

::view-transition-group(item1) {
  --distance: calc(var(--base-distance) * 1);
}

.page-items> :nth-child(2) {
  view-transition-name: item2;
}

::view-transition-group(item2) {
  --distance: calc(var(--base-distance) * 4);
}

.page-items> :nth-child(3) {
  view-transition-name: item3;
}

::view-transition-group(item3) {
  --distance: calc(var(--base-distance) * 8);
}


.page-items> :nth-child(4) {
  view-transition-name: item4;
}

::view-transition-group(item4) {
  --distance: calc(var(--base-distance) * 12);
}

.page-items> :nth-child(5) {
  view-transition-name: item5;
}

::view-transition-group(item5) {
  --distance: calc(var(--base-distance) * 16);
}

.page-items> :nth-child(6) {
  view-transition-name: item6;
}

::view-transition-group(item6) {
  --distance: calc(var(--base-distance) * 20);
}


::view-transition-new(item1),
::view-transition-new(item2),
::view-transition-new(item3),
::view-transition-new(item4),
::view-transition-new(item5),
::view-transition-new(item6) {
  transform-origin: 50% 0% ;
  animation: items-in var(--timing-decelerate) var(--transition-duration);
}

::view-transition-old(item1),
::view-transition-old(item2),
::view-transition-old(item3),
::view-transition-old(item4),
::view-transition-old(item5),
::view-transition-old(item6) {
  transform-origin: 50% 0% ;

  animation: items-out var(--timing-decelerate) var(--transition-duration);
}





@keyframes items-in {
  0% {
    filter: blur(8px) ;
    opacity: 0;
    transform: perspective(500px) translateZ(calc(var(--distance) * -0.2)) ;
  }

  20% {
    filter: blur(8px) ;
    opacity: 0;
    transform: perspective(500px) translateZ(calc(var(--distance) * -0.2)) ;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
    transform: perspective(500px) translateZ(0px) ;



  }
}

@keyframes items-out {


  0% {
    filter: blur(0px);
    transform: perspective(500px) translateZ(0px) ;
  }

  90% {
    filter: blur(16px);
    transform: perspective(500px) translateZ(var(--distance)) ;
  }

  100% {
    filter: blur(16px);
    opacity: 0;
    transform: perspective(500px) translateZ(var(--distance)) ;
  }
}



@media (prefers-reduced-motion) {
  ::view-transition-old(content) {
    animation: initial;

  }

  ::view-transition-new(content) {

    animation: initial;

  }


}


